{% if banner_image %}
{% if banner_size == 'width' %}<div class="container">{% endif %}
    <div class="page-banner" style="background-image: url({{ banner_image.url }});
        {% if banner_size == 'cover' %}background-size: cover;{% endif %}
        {% if banner_size == 'contain' %}background-size: contain;{% endif %}
        "></div>
{% if banner_size == 'width' %}</div>{% endif %}
{% endif %}