{% load thumbnail %}
{% if banners.all %}
<div class="banners hidden-xs">
<div class="banners-container">
<div class="iosslider">
<div class="slider">
{% for banner in banners.all %}
    {% thumbnail banner.image "1600x216" as im %}
        <div class="item" style="background-image: url({{ im.url }})"></div>
    {% endthumbnail %}
{% endfor %}
</div>
</div>
</div>
</div>
{% endif %}
