{% load sitetree %}
<div class="pull-right material-tools" role="menu">
    {% for item in sitetree_items %}
        <a role="menuitem" class="material-tool {{ item.alias }}{% if item.is_current or item.in_current_branch %} active{% endif %}" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
    {% endfor %}
</div>