{% load sitetree %}
<ul class="list-unstyled" role="menu">
    {% for item in sitetree_items %}
        <li role="presentation" {% if item.is_current or item.in_current_branch %}class="active"{% endif %}>
            <a role="menuitem" class="link" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
        </li>
    {% endfor %}
</ul>