{% load sitetree %}
<nav class="mainmenu navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="mainmenu-collapse">
        <ul class="nav navbar-nav">
            {% for item in sitetree_items %}
                <li class="{% if item.has_children %}dropdown{% endif %} {% if item.is_current or item.in_current_branch %}active{% endif %}">
                    <a href="{% sitetree_url for item %}" {% if item.has_children %}class="dropdown-toggle" data-hover="dropdown"{% endif %}>
                        {{ item.title_resolved }}
                        {% if item.has_children %}<b class="caret"></b>{% endif %}
                    </a>
                    {% if item.has_children %}
                        {% sitetree_children of item for menu template "sitetree/menu_bootstrap3_dropdown.html" %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>