{% extends "account/base.html" %}

{% load i18n chunks %}
{% load account %}
{% load url from future %}
{% load widget_tweaks %}

{% block head_title %}{% chunk "accounts_login_Sign_In" %}{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center">{% chunk "accounts_login_Sign_In" %}</h1>
{% if socialaccount.providers  %}
<p class="text-center">{% chunk "accounts_login-log-in-with-your-account"%}</p>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers text-center list-inline list-unstyled">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
<br><br>
</div>
{% endblock %}
