{% extends "account/base.html" %}

{% load url from future %}
{% load i18n chunks %}
{% load widget_tweaks %}

{% block head_title %}{% chunk "ac_signup" %}{% endblock %}

{% block content %}
<h1 class="text-center">{% chunk "ac_signup" %}</h1>

<p class="text-center">{% chunk "ac_signup_already" %}</p>

<form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-warning">{{ form.non_field_errors }}</div>
    {% endif %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            {% if field.errors %}
            <span class="help-block">{{ field.errors }}</span>
            {% endif %}
            {% if field|field_type == 'booleanfield' %}
                <div class="col-sm-8 col-sm-offset-4">
                    <div class="checkbox">
                        <label>
                            {{ field }}
                            {{ field.label }}
                        </label>
                    </div>
                </div>
            {% else %}
                <label for="id_{{ field.html_name }}" class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-8">
                    {{ field|add_class:"form-control" }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}


     <div class="form-group">
         <div class="col-sm-8 col-sm-offset-4">
             <button type="submit" class="btn btn-default btn-primary">{% chunk "ac_signup" %} &raquo;</button>
         </div>
     </div>
</form>


{% endblock %}


