{% extends "base.html" %}
{% load i18n thumbnail staticfiles chunks google_map evaluate %}
{% block title %}{{ interesting.title|default:interesting.name }}{% endblock %}
{% block meta_description %}{{ interesting.meta_description|default:block.super }}{% endblock %}
{% block meta_keywords %}{{ interesting.meta_keywords|default:block.super }}{% endblock %}
{% block head_extra_css %}
    <link rel="stylesheet" href="{% static "interesting/css/style.css" %}">
{% endblock %}
{% block content_header %}
    <header class="container content-head">
        <div class="pull-right material-tools">
            {% block content-head-tools %}
                <a class="material-tool up back2list" href="{% url "interesting:home" %}"><span class="glyphicon glyphicon-th-list"></span> {% chunk 'interesting_back' %}</a>
            {% endblock %}
        </div>
        <h1 class="pull-left">{% block page_title %}{{ interesting.name }}{% endblock %}</h1>
    </header>
{% endblock %}
{% block content %}
    <article class="container material-detail">
    {% if interesting.map %}
    <p class="clearfix">
        <a href="#" class="pseudo-link show-map" data-place="{{ interesting.id }}">{% chunk "interesting_show-on-map" %}</a>
    </p>
    {% endif %}
        <div class="material-thumb pull-left material-main-image">
    {% thumbnail interesting.image "480x480" as im %}
            <img src="{{ im.url }}" class="img-responsive">
    {% endthumbnail %}
        </div>
                {% with content=interesting.description|decode %}
                {% evaluate content %}
                {% endwith %}
    </article>
{% endblock %}
{% block after_content %}
    {% if interesting.interestingphoto_set.all %}
        {% include "_photogallery.html" with photos=interesting.interestingphoto_set.all app_code='interesting' page_id=interesting.id %}
    {% endif %}
    {% if interesting.show_comments %}
    {% include "main/comments.html" %}
    {% endif %}
    {% if interesting.map %}
    {% google_map place interesting %}
    {% endif %}
    {% if not interesting.interestingphoto_set.all and not interesting.map and not interesting.show_comments %}
    {{ block.super }}
    {% endif %}
{% endblock %}
{% block comments %}
{% endblock %}