{% extends "base.html" %}
{% load thumbnail i18n staticfiles sitetree seasons chunks google_map %}
{% block head_extra_css %}
    <link rel="stylesheet" href="{% static "interesting/css/style.css" %}">
{% endblock %}
{% block content_header %}
    <header class="container content-head">
        <div class="pull-right material-tools">
            {% season_switch %}
        </div>
        <h1 class="pull-left">{% block page_title %}{% sitetree_page_title from "mainmenu" %}{% endblock %}</h1>
        <div class="blue-wave"></div>
    </header>
{% endblock %}
{% block content %}
    <div class="container material-list">
        <div class="row">
{% for place in interesting_places %}
            <article class="col-md-4 col-sm-6">
            <a href="{{ place.get_absolute_url }}" class="material-link">
                <div class="material-thumb">
                    {% thumbnail place.image "360x204" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive material-preview">
                    {% endthumbnail %}
                </div>
                {% if place.map %}
                    <span class="pull-right show-map" data-place="{{ place.id }}"><span class="pseudo-link">{% chunk "interesting_map" %}</span> <span class="label label-primary">{{ forloop.counter }}</span></span>
                {% endif %}
                <h4 class="material-heading">{{ place.name }}</h4>
                <div class="text material-short-description">
                    {% if place.short_description %}
                        {{ place.short_description|striptags|safe|truncatechars:288 }}
                    {% else %}
                        {{ place.description|striptags|safe|truncatechars:288 }}
                    {% endif %}
                    <span class="link-arrow"></span>
                </div>
            </a>
            </article>
        {% if forloop.counter|divisibleby:3 %}
            <div class="clearfix visible-md visible-lg"></div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="clearfix visible-sm"></div>
        {% endif %}
{% endfor %}
        </div>
    </div>
{% endblock %}
{% block after_content %}
    {% google_map places interesting_places %}
{% endblock %}