@font-face {
    font-family: 'otrada';
    src: url('../fonts/otrada-webfont.eot');
    src: url('../fonts/otrada-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/otrada-webfont.woff') format('woff'),
         url('../fonts/otrada-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.index_banner .iosslider {
    height: 474px;
    width: 100%;
}
    .index_banner .slide {
        background: center no-repeat;
        background-size: cover;
    }
.banner-content-holder {
    display: table;
    height: 100%;
}
.index_banner .banner-content {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.index_banner .banner-content .slide-title {
    font-family: 'otrada';
    margin: 0 0 8px;
}
    .index_banner .banner-content .slide-title > * {
        color: white;
        font-size: 32px;
        line-height: 36px;
        float: left;
        clear: left;
        margin: 0;
        position: relative;
    }
@media (min-width: 992px) {
    .index_banner .banner-content .slide-title > * {
        background: rgba(0,163,218,.7);
        font-size: 46px;
        line-height: 50px;
        padding: 0 25px;
    }
        .index_banner .banner-content .slide-title > *:first-child { line-height: 72px; }
        .index_banner .banner-content .slide-title > *:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -34px;
            height: 0;
            width: 0;
            border-width: 0px 0 50px 34px;
            border-style: solid;
            border-color: rgba(0,163,218,.7) transparent transparent rgba(0,163,218,.7);
        }
            .index_banner .banner-content .slide-title > *:first-child:after {
                border-width: 0px 0 71px 49px;
                right: -49px;
            }
}
.index_banner .slide-description {
    line-height: 26px;
    font-size: 18px;
    color: black;
    text-shadow: white 0 0 2px;
    margin: 0 0 12px;
}
.index_banner_helper {
    height: 107px;
    white-space: nowrap;
    background: #ebf8fc;
    max-width: 1600px;
    margin: auto;
}
    .index_banner_helper .button {
        display: inline-block;
        width: 135px;
        height: 107px;
        padding: 7px;
        color: #00a3da;
        font-size: 13px;
        text-transform: uppercase;
        vertical-align: top;
        white-space: normal;
    }
        .index_banner_helper .button .icon {
            height: 55px;
            position: relative;
        }
            .index_banner_helper .button .icon .icon-variant {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: center no-repeat;
            }
                .index_banner_helper .button .icon .icon-variant.hover { display: none; }
        .index_banner_helper .button.active {
            background: #84bf41;
            color: white;
            position: relative;
        }
            .index_banner_helper .button.active:before {
                content: '';
                display: block;
                border: solid transparent;
                border-width: 18px 26px;
                border-bottom-color: #84bf41;
                position: absolute;
                z-index: 999;
                left: 50%;
                top: -36px;
                margin: 0 0 0 -26px;
            }
            .index_banner_helper .button.active .icon .icon-variant.hover { display: block; }
            .index_banner_helper .button.active .icon .icon-variant.normal { display: none; }
.pagecontent {
    padding-top: 69px;
}
.index-image {
    margin: 8px 0 0 32px;
}
.pagecontent .content-head {
    margin-bottom: 24px;
}
.pagecontent .content-head * {
    margin-top: 0;
    margin-bottom: 0;
}
.index-text {
    font-size: 16px;
    min-height: 193px;
}
.index-buttons a+a { margin-left: 20px; }
.section-header {
    padding-top: 32px;
    padding-bottom: 32px;
}
.section-header h2 {
    margin: 0;
    letter-spacing: 4px;
}
.announce-list {
    position: relative;
}
.activity-list {
    height: 323px;
}
.activity-list img.material-preview {
    border: 8px solid #d9f1f9;
    width: 216px;
    max-width: 100%;
}
.activity-list .slide {
    padding: 8px 0 0;
}
@media (min-width: 768px) { .activity-list .slide { width: 250px!important; } }
@media (min-width: 992px) { .activity-list .slide { width: 242px!important; } }
@media (min-width: 1200px) { .activity-list .slide { width: 292px!important; } }

.event-list {
    height: 351px;
}
@media (max-width: 767px){
    .event-list {
        height: 540px;
    }
    .event-list .slide {
        padding: 0;
    }
}
.events {
    background: #e5e0de url("../images/snow_bg.jpeg") center repeat;
    background-size: cover;
    overflow: hidden;
}
.events .section-header .link-arrow {
    margin-left: 10px;
    line-height: 30px;
}
.events .material-text {
    padding: 12px;
    height: 120px;
}
.events .event-list .event { color: black; }
    .events .event-list .event .glyphicon { color: #e67536; }

.events .material-link {
    background: white;
    display: block;
    transition: box-shadow .2s ease;
    margin-bottom: 50px;
}
.events .material-link:hover { box-shadow: rgba(0,0,0,.5) 0 3px 16px; }
.events .material-link:hover .material-preview { box-shadow: none; }

@media (min-width: 768px) { .event-list .slide { width: 375px!important; } }
@media (min-width: 992px) { .event-list .slide { width: 323px!important; } }
@media (min-width: 1200px) { .event-list .slide { width: 390px!important; } }

.announce-list .arrow {
    position: absolute;
    width: 23px;
    height: 62px;
    background: center no-repeat;
    border: 0;
    padding: 0;
}
    .announce-list .arrow { top: 88px; }
    .event-list .arrow { top: 116px; }
    .announce-list .arrow:focus { outline: none; }
    .announce-list .arrow.prev { left: -45px; background-image: url("../../images/arrow_left.png"); }
    .announce-list .arrow.next { right: -45px; background-image: url("../../images/arrow_right.png"); }

/* facebook place */
.fb-message-wrap {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 17px;
    padding-bottom: 12px;
    font-size: 12px;
}
.fb-message-wrap .fb-avatar {
    height: 39px;
    width: 39px;
    margin-right: 14px;
}

.fb-message-wrap time {
    color: #969696;
    display: inline-block;
    margin-top: 4px;
}
.fb-mess-picture {
    max-height: 64px;
}
.fb-url, .fb-url:hover {
	color: #000;
}
/* facebook follow button */
#facebook body.plugin span#u_0_3 {
    display: block !important;
    width: 180px !important;
}
/* twitter */
.wrap-twitter-messages {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    font-size: 12px;
    padding-bottom: 15px;
}
.wrap-twitter-messages time {
    font-weight: bold;
}
/*tripadvisor*/
.TA_links.aUTVcF{
	list-style: none;
	padding: 0;
	margin: 0;
} 