.page-banner {
    background-image: url("../images/page-banner.jpeg");
}

section.map {
    height: 434px;
    position: relative;
}
    section.map .gmap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }