{% extends "base.html" %}
{% load i18n thumbnail staticfiles google_map evaluate chunks %}
{% block title %}{{ event.title|default:event.name }}{% endblock %}
{% block meta_description %}{{ event.meta_description|default:block.super }}{% endblock %}
{% block meta_keywords %}{{ event.meta_keywords|default:block.super }}{% endblock %}
{% block content_header %}
    <header class="container content-head">
        <div class="pull-right material-tools">
            {% block content-head-tools %}
                <a class="material-tool up back2list" href="{% url "events:home" %}"><span class="glyphicon glyphicon-th-list"></span> {% chunk 'event_back-to-event-list' %}</a>
            {% endblock %}
        </div>
        <h1 class="pull-left">{% block page_title %}{{ event.name }}{% endblock %}</h1>
    </header>
{% endblock %}
{% block content %}
    <article class="container material-detail">
        <div class="material-thumb pull-left material-main-image">
    {% thumbnail event.image "480x480" as im %}
            <img src="{{ im.url }}" class="img-responsive">
    {% endthumbnail %}
        {% if event.date %}
            <time class="material-date">{{ event.date|date:"d.m.Y" }}</time>
        {% endif %}
        </div>
                {% with content=event.description|decode %}
                {% evaluate content %}
                {% endwith %}
    </article>
{% endblock %}
{% block after_content %}
    {% if event.eventphoto_set.all %}
        {% include "_photogallery.html" with photos=event.eventphoto_set.all app_code='events' page_id=event.id %}
    {% endif %}
    {% if event.show_comments %}
    {% include "main/comments.html" %}
    {% endif %}
    {% if event.map %}
    {% google_map place event %}
    {% endif %}
    {% if not event.eventphoto_set.all and not event.show_comments and not event.map %}
    {{ block.super }}
    {% endif %}
{% endblock %}
{% block comments %}
{% endblock %}