{% load thumbnail i18n chunks %}
{% if events %}
    <section class="events" id="page-section-events">
    <div class="container">
        <header class="section-header row">
            <div class="col-md-4"><div class="blue-wave"></div></div>
            <h2 class="col-md-4 text-center">{% chunk "index_h2_Events-Actions" %}</h2>
            <div class="col-md-4">
                <a class="pull-right link-arrow" href="{% url "events:home" %}">{% chunk "index_view-all" %}</a>
                <div class="blue-wave"></div>
            </div>
        </header>
        <div class="event-list material-list announce-list row">
            <div class="iosslider">
            <div class="slider">
            {% for event in events %}
                <div class="slide col-md-4 col-sm-6 col-xs-12">
                    <a class="event material-link" href="{{ event.get_absolute_url }}">
                        <div class="material-thumb">
                            {% thumbnail event.image "360x204" crop="center" as im %}
                            <img src="{{ im.url }}" class="material-preview img-responsive" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        {% if event.date %}
                            <time class="material-date">{{ event.date }}</time>
                        {% endif %}
                        </div>
                        <div class="material-text">
                            <h4 class="material-heading">{{ event.name }}</h4>
                            <div class="text material-short-description">
                            {% if event.short_description %}
                                {{ event.short_description|striptags|truncatewords:12 }}
                            {% else %}
                                {{ event.description|striptags|truncatewords:12 }}
                            {% endif %}
                            <span class="link-arrow"></span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
            </div>
            <button class="arrow prev"></button>
            <button class="arrow next"></button>
        </div>
    </div>
    </section>
{% endif %}