{% load i18n thumbnail chunks %}
{% if events %}
<div class="incut-column-block">
<h2>{% chunk "event_filter" %}</h2>
<div class="events_for">
<div class="iosslider">
<div class="slider">
{% for event in events %}
    <a href="{{ event.get_absolute_url }}" class="for_events">
        {% thumbnail event.image "285x162" crop="center" as im %}
        <img src="{{ im.url }}" class="img-responsive">
        {% endthumbnail %}
        <div class="text">
            <h4>{{ event.name }}</h4>
            <article>
                {% if event.short_description %}
                {{ event.short_description|striptags|safe|truncatewords_html:12 }}
                {% else %}
                {{ event.description|striptags|safe|truncatewords_html:12 }}
                {% endif %}
                <span class="link-arrow"></span>
            </article>
        </div>
    </a>
{% endfor %}
</div>
    <button class="ios_prev ios_arrow"></button>
    <button class="ios_next ios_arrow"></button>
</div>
</div>
</div>
{% endif %}
