{% extends "base.html" %}
{% load staticfiles endless sitetree i18n chunks %}
{% block content_header %}
    <header class="container content-head">
        <h1 class="pull-left">{% block events_page_title %}{% chunk "event_filter" %}{% endblock %}</h1>
        {% sitetree_menu from "events" include "trunk,topmenu" template "sitetree/events.html" %}
        <div class="blue-wave"></div>
    </header>
{% endblock %}
{% block content %}
    <div class="container material-list">
    <div class="row">
        {% include page_template %}
    </div>
    </div>
    <script src="{% static "endless_pagination/js/endless-pagination.js" %}"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}