{% load thumbnail endless chunks %}
        {% lazy_paginate 6 events %}
        {% for event in events %}
            <article class="col-md-4 col-sm-6">
            <a href="{{ event.get_absolute_url }}" class="material-link">
                <div class="material-thumb">
                    {% thumbnail event.image "360x204" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive material-preview">
                    {% endthumbnail %}
                {% if event.date %}
                    <time class="material-date">{{ event.date|date:"d.m.Y" }}</time>
                {% endif %}
                </div>
                <h4 class="material-heading">{{ event.name }}</h4>
                <div class="text material-short-description">
                {% if event.short_description %}
                    {{ event.short_description|striptags|safe|truncatewords:20 }}
                {% else %}
                    {{ event.description|striptags|safe|truncatewords:20 }}
                {% endif %}
                </div>
            </a>
            </article>
            {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix visible-md visible-lg"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="clearfix visible-sm"></div>
            {% endif %}
        {% empty %}
            <div class="col-xs-12">
            {% chunk "event_no_events_text" %}
            </div>
        {% endfor %}
        {% show_more %}