{% load i18n %}
<div class="addresspicker-widget" id="addresspicker-widget-{{ id }}">
    <div class="addresspicker-search-block">{% trans "Search on map: " %}<input type="search" class="addresspicker-search"></div>
    <div class="addresspicker-map"></div>
    <div class="addresspicker-result-block">
        {% trans "coordinates: " %}<input class="addresspicker-result" {{ final_attrs|safe }}>
        <a href="#" class="addresspicker-result-clear">{% trans "clean" %}</a>
    </div>
    <input type="hidden" class="addresspicker-initial-lat" value="{{ latlng.0 }}">
    <input type="hidden" class="addresspicker-initial-lng" value="{{ latlng.1 }}">
</div>