{% load i18n chunks %}
{% if querystring %}
    <div class="endless_container container">
        <a class="endless_more btn btn-default btn-primary" href="{{ path }}{{ querystring }}"
            rel="{{ querystring_key }}">{% if label %}{{ label }}{% else %}{% chunk "more" %}{% endif %}</a>
        <div class="endless_loading" style="display: none;">{{ loading|safe }}</div>
    </div>
{% endif %}
