{% load thumbnail %}
<div class="popup-gallery">
    {% thumbnail photo_active.image "800" as im %}
        <div class="main-image">
            <div class="image" style="background-image: url({{ im.url }})"></div>
        </div>
    {% endthumbnail %}
    <nav class="gallery_menu material-tools">
        {% for page in pages %}
            <a href="/gallery/{{ page.id }}/" class="material-tool other-gallery{% if page.active %} active{% endif %}">
                {{ page.title }}
            </a>
        {% endfor %}
    </nav>
    <div class="previews">
        <div class='iosslider'>
            <div class='slider'>
{% for photo in photos %}
{% thumbnail photo.image "x86" as im %}
{% thumbnail photo.image "800" as im_large %}
                <div class="slide"><a class="show_photo" href="{{ im_large.url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a></div>
{% endthumbnail %}
{% endthumbnail %}
{% endfor %}
            </div>
        </div>
    </div>
    <button class="arrow prev"></button>
    <button class="arrow next"></button>
</div>