{% extends "booking/booking_base.html" %}
{% load staticfiles i18n %}
{% block content %}

    <div class="container booking">
    <form action="{% url "booking:home" %}" id="booking_form" method="post">
    {% csrf_token %}
        <div class="tabla">
            <div class="visualizacion">
                <div class="meses" id="meses">
                    <div class="meses_contenedor">
                    <div class="meses_lista">
{% for mes in listaDeLosMeses %}
                        <div class="meses_lista_elemento" data-mes="{{ mes.info|date:"Y.m" }}">
                            <div class="ano">{{ mes.info|date:"Y" }}</div>
                            <div class="mes">{{ mes.info|date:"M" }}</div>
                        </div>
{% endfor %}
                        <div class="marker"></div>
                        <div class="meses_lista_hover hover_marker"></div>
                    </div>
                    </div>
                </div>
                <div class="calendario">
                    <button class="calendario_boton previo" id="calendario_boton_previo"></button>
                    <button class="calendario_boton siguiente" id="calendario_boton_siguiente"></button>
                    <div class="calendario_slider" id="calendario_slider">
                        <div class="calendario_slider_cinta claro" id="calendario_cinta">
{% for mes in listaDeLosMeses %}
                            <div class="calendario_slider_cinta_mes"
                                 data-mes="{{ mes.info|date:"Y.m" }}"
                                 data-primero-dia="{{ mes.lista_dias.dias|first|date:"j" }}"
                                 data-ultimo-dia="{{ mes.lista_dias.dias|last|date:"j" }}"
                                    >
                                <div class="mes">
                                    <h5 class="mes_titulo">{% if mes.lista_dias.dias|length > 3 %}{{ mes.info|date:"F" }}{% endif %}</h5>
                                    <div class="mes_dias">
{% for dia in mes.lista_dias.dias %}
                                        <div class="mes_dias_elemento wd{{ dia|date:"w" }}" data-dia="{{ dia|date:"j" }}">
                                            <div>{{ dia|date:"j" }}</div>
                                        </div>
{% endfor %}
                                    </div>
{% for tipo in mes.por_tipo %}
                                    <div class="tipo" data-tipo="{{ tipo.tipo.id }}">
                                        <div class="opcion">
{% for dia in tipo.dias %}
                                            <div class="dia{% if dia.libre > 0 and dia.price %} libre{% endif %}"
                                                 data-ano="{{ mes.info|date:"Y" }}"
                                                 data-mes="{{ mes.info|date:"n" }}"
                                                 data-dia="{{ dia.date|date:"j" }}"
                                                 data-tipo="{{ tipo.tipo.id }}"
                                                 data-total="{{ dia.total }}"
                                                 data-libre="{{ dia.libre }}"
                                                 data-price="{{ dia.price }}"
                                            >
                                                <div class="tip{% if forloop.parentloop.counter > 2 %} at_top{% endif %}">
                                                {% if dia.price %}
                                                    Стоимость проживания<br>
                                                    с {{ dia.date|date:"j E" }} по {{ dia.tomorrow|date:"j E" }}<br>
                                                    (всего ночей: 1): {{ dia.price }} Евро.<br>
                                                    Кликните, чтобы забронировать эту дату или период.
                                                {% else %}
                                                    Нет свободных мест
                                                {% endif %}
                                                </div>
                                            </div>
{% endfor %}
                                        </div>
                                        <div class="opcion">
{% for dia in tipo.dias %}
                                            <div class="dia"
                                                 data-ano="{{ mes.info|date:"Y" }}"
                                                 data-mes="{{ mes.info|date:"n" }}"
                                                 data-dia="{{ dia.date|date:"j" }}"
                                                 data-tipo="{{ tipo.id }}"
                                            >
{% if dia.packages %}
{% for package in dia.packages %}
                                                <div class="package"
                                                     data-id="{{ package.id }}"
                                                     data-dias="{{ package.days }}"
                                                     data-conditions="{{ package.conditions.id }}"
                                                        >
                                                    {{ package.price }} &euro;
                                                    <div class="tip{% if forloop.parentloop.parentloop.counter > 2 %} at_top{% endif %}">
                                                        Стоимость проживания<br>
                                                        с {{ package.date_check_in }}<br>
                                                        по {{ package.date_check_out }} (всего ночей: {{ package.days }})<br>
                                                        {{ package.price }} Евро.<br>
                                                        Кликните, чтобы забронировать эту дату или период.
                                                    </div>
                                                </div>
{% endfor %}
{% else %}
                                                <div class="tip{% if forloop.parentloop.counter > 2 %} at_top{% endif %}">
                                                    Нет пакетных предложений
                                                </div>
{% endif %}
                                            </div>
{% endfor %}
                                        </div>
                                    </div>
{% endfor %}
                                </div>
                            </div>
{% endfor %}
                            <div class="seleccionado" id="calendario_seleccionado">
                                <div class="puede_ser" id="puede_ser"></div>
                                <div class="tip" id="calendario_tip">
                                    <h6>Вы выбрали период</h6>
                                    <div class="dates">
                                        <div>с 16:00 <span id="tip_check_in_date"></span></div>
                                        <div>до 12:00 <span id="tip_check_out_date"></span></div>
                                    </div>
                                    <div class="to_cancel">Кликните, чтобы<br>отменить</div>
                                    <div class="to_booking">Кликните, чтобы<br>забронировать</div>
                                </div>
                            </div>
                            <div class="seleccionado" id="package_seleccionado">
                                <div class="precio"><span id="package_seleccionado_precio"></span> &euro;</div>
                                <div class="puede_ser" id="package_puede_ser"></div>
                                <div class="tip" id="package_select_tip">
                                    <h6>Вы выбрали срок проживания:</h6>
                                    <div class="dates">
                                        <div>с 16:00 <span id="package_tip_check_in_date"></span></div>
                                        <div>до 12:00 <span id="package_tip_check_out_date"></span></div>
                                        <div>всего ночей: <span id="package_tip_nights_count"></span></div>
                                    </div>
                                    <div class="">Стоимость: <span id="package_tip_price">0</span> евро</div>
                                    <div>Чтобы увеличить срок проживания,<br> вы можете выбрать также<br>последующие пакетные предложения</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_clear_block">
                <button class="form_clear_button">{% trans "Reset form" %}</button>
            </div>
            <ul class="lista_de_los_tipos_de_alojamiento">
{% for type in types %}
                <li class="tipo_de_alojamiento"
                    data-type="{{ type.id }}"
                    data-objects="{{ type.object_number }}"
                    data-guests="{{ type.guests_number }}"
                    data-adults="{{ type.adults_number }}"
                    >
                    <img src="{{ type.photo.url }}" class="foto">
                    <h5 class="titulo">
                        <span class="vert">
                            <span class="linea valor">{{ type.name }}</span>
                        </span>
                    </h5>
                    <div class="descripcion_del_alojamiento"></div>
                    <select class="numero">
{% for object_number_variant in type.object_number_variants %}
                         <option>{{ object_number_variant }}</option>
{% endfor %}
                    </select>
                </li>
{% endfor %}
            </ul>
        </div>



    <h3>{% trans "Parameters of accommodation" %}</h3>
    <div class="parameters_of_accommodation">
        <div class="type_of_apartments dh">
            <div class="lh">
                <label class="message">выберете тип размещения</label>
            </div>
            <select class="acc_type-select" id="acc_type_select" name="acc_type">
                <option></option>
{% for type in types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
{% endfor %}
            </select>
            <select class="number-select" id="object_number_select" name="object_number" disabled>
                <option></option>
            </select>
        </div>
        <div class="dates_of_living dh">
            <input class="form-control date check-in" id="check-in-date" name="date_check_in">
            <input class="form-control date check-out" id="check-out-date" name="date_check_out">
            <div class="lh">
                <label class="message">выберете дату заезда</label>
            </div>
        </div>
        <div class="type_of_living">
            <label>{% trans "Adults" %}</label>
            <select class="adults-select" id="adults-select" name="adults" disabled></select>

            <label>{% trans "Children" %}</label>
            <select class="children-select" id="children-select" name="children" disabled></select>

            <div class="lh">
                <label class="message">выберете количество взрослых</label>
            </div>
        </div>
    </div>



    <div class="terms">
        <div class="options">
            <h3>{% trans "More options" %}</h3>
{% for option in options %}
            <div class="terms_item">
                <input type="checkbox"
                       name="extra_options"
                       class="extra_option_checkbox"
                       value="{{ option.id }}">
                <a class="term_title valor popup_link" href="#option_{{ option.id }}">{{ option.name }}</a>
                <div class="term_description-wrap">
                    <div class="term_description" id="option_{{ option.id }}">
                        <h4>{{ option.name }}</h4>
                        {{ option.description|safe }}
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
        <div class="payment">
            <h3>{% trans "Payment and Cancellation" %}</h3>
{% for payment_term in payment_terms %}
            <div class="payment_item">
                <input type="radio"
                       name="payment_terms"
                       class="payment_terms_rb"
                       value="{{ payment_term.id }}"{% if forloop.first %} checked{% endif %}>
                <span class="payment_item_label valor">{{ payment_term.name }}</span>
                <div class="description">
                    <div class="description-text">{{ payment_term.description }}</div>
                    <span class="turn">Свернуть</span>
                </div>
            </div>
{% endfor %}
        </div>
    </div>


    <div class="entrada">
        <h1>Ввод данных</h1>
        <div class="slogan">Мы предоставляем свои услуги совершенно бесплатно, так как в отличие от многих других компаний, мы не взимаем плату за нашу работу и не прибавляем дополнительные сборы (за оформление бронирования) к стоимости номера.</div>
        <div class="datos_personales">
            <div class="personale form-group">
                <div class="lh"><label class="message">Поле обязательно для заполнения</label></div>
                <input type="text" class="form-control required" id="user_data_fio" placeholder="ФИО *" name="name">
            </div>
            <div class="personale form-group">
                <div class="lh">
                    <label class="message">Поле обязательно для заполнения</label>
                    <label class="message special">Введите правильный email</label>
                </div>
                <input type="text" class="form-control email required" id="user_data_email" placeholder="E-mail *" name="email">
            </div>
            <div class="personale form-group">
                <div class="lh"><label class="message">Поле обязательно для заполнения</label></div>
                <input type="text" class="form-control required" id="user_data_phone" placeholder="Мобильный телефон *" name="phone">
            </div>
            <div class="personale form-group">
                <input type="text" class="form-control" id="user_data_check_in_time" placeholder="Предварительное время заезда" name="check_in_time">
            </div>
            <div class="personale form-group">
                <textarea class="form-control" id="user_data_note" placeholder="Дополнительные сведения" name="note"></textarea>
            </div>
            <div class="form-note">Пункты, помеченные «*» обязательны к заполнению.</div>

        </div>
        <div class="condiciones_seleccionadas">
            <div class="seleccionado alojamiento">
                <label>Тип размещения:</label>
                <div class="valor" id="cs_tipo"></div>
            </div>
            <div class="seleccionado period">
                <label>Период размещения:</label>
                <div class="valor">{% verbatim %}
                    <span>c <span id="cs_date_check_in"></span></span>
                    <span>по <span id="cs_date_check_out"></span></span>
                    <span class="que">
                        <span><span id="cs_adult_count"></span> взрослых</span><span id="cs_children_count_block">, <span id="cs_children_count"></span> детских</span>
                    </span>
                {% endverbatim %}</div>
            </div>
            <div class="seleccionado opciones" id="cs_extra_block">
                <label>Дополнительные опции:</label>
                <div id="cs_extra"></div>
            </div>
            <div class="seleccionado condiciones">
                <label>Условия оплаты и отмены бронирования:</label>
                <div class="valor" id="cs_terms"></div>
            </div>
    </div>
    </div>
    <div class="total">
        <div class="rules_links">
            <a href="#booking_rules" class="terms_of_booking popup_link"><span class="des">{% trans "Terms of booking" %}</span></a>
            <div style="display: none;">
                 <div id="booking_rules" class="fancybox-booking">
                    <h2>Правила бронирования</h2>
                     <ul class="fancybox-list">
                         <li>При бронировании принимаются карты Visa и MasterCard<br>
Вы можете отменить бронирование не позднее чем 2 недели до заезда.</li>
                         <li>За 2 недели до заезда на вашей банковской карты, указанной при бронировании, будет заблокирована сумма первого дня проживания, которая будет списана при отмене бронирования в срок менее чем 2 недели до заезда.</li>
                         <li>Полная стоимость проживания списывается с карты при заселении. Возможен расчет наличными средствами (в этом случае, заблокированная на карте сумма будет разблокирована в срок обусловленный правилами вашего банка).</li>
                         <li>В случае незаезда списывается полная сумма забронированного проживания.</li>
                         <li>При бронировании специальных предложений и при «горячем» бронировании полная стоимость проживания списывается сразу после совершения бронирования. Отмена бронирования не допускается.</li>
                         <li>Оплатить проживание вы можете с помощью банковской карты, наличными средствами, банковским переводом.</li>
                         <li>По вопросам, связанным с бронированием и финансовыми расчетами, вы можете обращаться в клиентскую службу Booking.com или к администрации Lekotti.</li>
                     </ul>
                 </div>
             </div>
            <a href="#liability_provisions" class="popup_link"><span class="des">{% trans "liability provisions" %}</span></a>
            <div style="display: none;">
                 <div id="liability_provisions" class="fancybox-booking">
                    <h2>{% trans "liability provisions" %}</h2>
                     <ul class="fancybox-list">
                         <li>Здесь текст.</li>
                         <li>Текст об условиях ответственности</li>
                         <li>Нужно его будет написать.</li>
                     </ul>
                 </div>
             </div>
        </div>
        <div class="adaptabilidad_promedio">
            <div class="all_costs">
                <div class="total_cost">
                    <label>{% trans "full cost<br>of accommodation:" %}</label>
                    <div class="cost_number"><span id="full_cost">0</span> €</div>
                    <input type="hidden" name="price" value="0">
                </div>
                <div class="now_cost">
                    <label>{% trans "Current<br>Amount payment:" %}</label>
                    <div class="cost_number"><span id="now_cost">0</span> €</div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary booking">{% trans "book" context "Form submit" %}</button>
        </div>
    </div>
    </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
    var prices = {
        'by_type': {{ precios_json|safe }}
    }
    </script>
    <script src="{% static "js/booking.js" %}"></script>
    {% with "js/moment/"|add:LANGUAGE_CODE|add:".js" as langFile %}
    <script src="{% static langFile %}"></script>
    {% endwith %}
    {% with "js/jqueryui/i18n/jquery.ui.datepicker-"|add:LANGUAGE_CODE|add:".js" as langFile %}
    <script src="{% static langFile %}"></script>
    {% endwith %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock %}