{% extends "booking/booking_base.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block content %}

    <div class="container booking2" ng-app="bookingApp">
    <div ng-controller="bookingController">
    <form action="{% url "booking:new" %}" id="booking_form" method="post">
    {% csrf_token %}




        <div class="tabla">
            <calendario></calendario>
            <div class="form_clear_block">
                <div class="form_clear_button" ng-click="result_init()">{% trans "Reset form" %}</div>
            </div>
            {% verbatim %}
            <ul class="lista_de_los_tipos_de_alojamiento">
                <li
                        ng-repeat="acc_type in acc_types"
                        ng-class="{true:'active', false:''}[result.accType==acc_type.id]"
                        ng-click="set_acc_type_selected_id(acc_type.id)"
                        >
                    <img ng-src="/media/{{ acc_type.photo }}" class="foto">
                    <h5 class="titulo">
                        <span class="vert">
                            <span
                                    class="linea"
                                    ng-click="showAccTypeDescription(acc_type.id)"
                                    >{{ acc_type.name }}</span>
                        </span>
                    </h5>
                    <div class="descripcion_del_alojamiento"></div>
                    <select
                            ui-select2="select2Options"
                            ng-model="acc_type['object_number_selected']"
                            ng-change="bedsRecount()"
                            class="numero">
                         <option ng-repeat="q in acc_type['object_number_range']">{{ q }}</option>
                    </select>
                </li>
            </ul>
            {% endverbatim %}
        </div>










    <h3>{% trans "Parameters of accommodation" %}</h3>
    <div class="parameters_of_accommodation">
        <div class="type_of_apartments dh">
            <div class="lh">
                <label class="message">выберете тип размещения</label>
            </div>

            {{ form.acc_type|add_class:"acc_type-select"|attr:"ui-select2:select2Options"|attr:"ng-model:result.accType" }}
            <select
                    class="number-select"
                    id="id_object_number"
                    name="object_number"
                    ui-select2="select2Options"
                    ng-model="acc_types[result.accType].object_number_selected"
                    ng-disabled="result.accType==0"
                    >
                {% verbatim %}
                <option ng-repeat="number in acc_types[result.accType].object_number_range" value="{{ number }}">{{ number }}</option>
                {% endverbatim %}
            </select>
        </div>
        <div class="dates_of_living dh">
            {{ form.date_check_in|add_class:"form-control date check-in"|attr:"ui-date:dateOptions"|attr:"ng-model:checkInDate" }}
            {{ form.date_check_out|add_class:"form-control date check-out"|attr:"ui-date:dateOptions"|attr:"ng-model:checkOutDate" }}
            <div class="lh">
                <label class="message">выберете дату заезда</label>
            </div>
        </div>
        <div class="type_of_living">
            <label>{% trans "Adults" %}</label>
            <select class="adults-select" id="adults-select" name="adults" disabled></select>
            {{ form.adults }}

            <label>{% trans "Children" %}</label>
            <select class="children-select" id="children-select" name="children" disabled></select>
            {{ form.children }}

            <div class="lh">
                <label class="message">выберете количество взрослых</label>
            </div>
        </div>
    </div>



    <div class="terms">
        <div class="options">
            <h3>{% trans "More options" %}</h3>
{% for option in options %}
            <div class="terms_item">
                <input type="checkbox"
                       name="extra_options"
                       class="extra_option_checkbox"
                       value="{{ option.id }}">
                <a class="term_title valor popup_link" href="#option_{{ option.id }}">{{ option.name }}</a>
                <div class="term_description-wrap">
                    <div class="term_description" id="option_{{ option.id }}">
                        <h4>{{ option.name }}</h4>
                        {{ option.description|safe }}
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
        <div class="payment">
            <h3>{% trans "Payment and Cancellation" %}</h3>
{% for payment_term in payment_terms %}
            <div class="payment_item">
                <input type="radio"
                       name="payment_terms"
                       class="payment_terms_rb"
                       value="{{ payment_term.id }}"{% if forloop.first %} checked{% endif %}>
                <span class="payment_item_label valor">{{ payment_term.name }}</span>
                <div class="description">
                    <div class="description-text">{{ payment_term.description }}</div>
                    <span class="turn">Свернуть</span>
                </div>
            </div>
{% endfor %}
        </div>
    </div>
    {% verbatim %}
    {{ result }}
    {% endverbatim %}


    <div class="entrada">
        <h1>Ввод данных</h1>
        <div class="slogan">Мы предоставляем свои услуги совершенно бесплатно, так как в отличие от многих других компаний, мы не взимаем плату за нашу работу и не прибавляем дополнительные сборы (за оформление бронирования) к стоимости номера.</div>
        <div class="datos_personales">
            <div class="personale form-group">
                <div class="lh"><label class="message">Поле обязательно для заполнения</label></div>
                {{ form.name|add_class:"form-control required"|attr:"placeholder:ФИО *" }}
            </div>
            <div class="personale form-group">
                <div class="lh">
                    <label class="message">Поле обязательно для заполнения</label>
                    <label class="message special">Введите правильный email</label>
                </div>
                {{ form.email|add_class:"form-control email required"|attr:"placeholder:E-mail *" }}
            </div>
            <div class="personale form-group">
                <div class="lh"><label class="message">Поле обязательно для заполнения</label></div>
                {{ form.phone|add_class:"form-control required"|attr:"placeholder:Мобильный телефон *" }}
            </div>
            <div class="personale form-group">
                {{ form.check_in_time|add_class:"form-control"|attr:"placeholder:Предварительное время заезда" }}
            </div>
            <div class="personale form-group">
                {{ form.note|add_class:"form-control"|attr:"placeholder:Дополнительные сведения"|attr:"rows:" }}
            </div>
            <div class="form-note">Пункты, помеченные «*» обязательны к заполнению.</div>

        </div>
        <div class="condiciones_seleccionadas">
            <div class="seleccionado alojamiento" ng-show="result.accType > 0">
                <label>Тип размещения:</label>
                <div class="valor" id="cs_tipo">{% verbatim %}{{ acc_types[result.accType].name }}{% endverbatim %}</div>
            </div>
            <div class="seleccionado period"
                 ng-show="result.dates.checkIn.isValid() || result.dates.checkOut.isValid()"
                    >
                <label>Период размещения:</label>
                <div class="valor">{% verbatim %}
                    <span ng-show="result.dates.checkIn.isValid()">c {{ result.dates.checkIn|dateFormat }}</span>
                    <span ng-show="result.dates.checkOut.isValid()">по {{ result.dates.checkOut|dateFormat }}</span>
                    <span class="que">
                        <span ng-show="result.places.adult">{{ result.places.adult }} взрослых<span ng-show="result.places.children">,</span></span>
                        <span ng-show="result.places.children">{{ result.places.children }} детский</span>
                    </span>
                {% endverbatim %}</div>
            </div>
            <div class="seleccionado opciones" id="cs_extra_block" ng-class="{true:'show'}[result.options.length>0]">
                <label>Дополнительные опции:</label>
                {% verbatim %}
                <div class="valor" ng-repeat="valor in result.options">{{ extra_options[valor] }}</div>
                {% endverbatim %}
            </div>
            <div class="seleccionado condiciones">
                <label>Условия оплаты и отмены бронирования:</label>
                <div class="valor">{% verbatim %}{{ payment_terms[result.terms] }}{% endverbatim %}</div>
            </div>
    </div>
    </div>


    <div class="total">
        <div class="rules_links">
            <a href="#booking_rules" class="terms_of_booking popup_link"><span class="des">{% trans "Terms of booking" %}</span></a>
            <div style="display: none;">
                 <div id="booking_rules" class="fancybox-booking">
                    <h2>Правила бронирования</h2>
                     <ul class="fancybox-list">
                         <li>При бронировании принимаются карты Visa и MasterCard<br>
Вы можете отменить бронирование не позднее чем 2 недели до заезда.</li>
                         <li>За 2 недели до заезда на вашей банковской карты, указанной при бронировании, будет заблокирована сумма первого дня проживания, которая будет списана при отмене бронирования в срок менее чем 2 недели до заезда.</li>
                         <li>Полная стоимость проживания списывается с карты при заселении. Возможен расчет наличными средствами (в этом случае, заблокированная на карте сумма будет разблокирована в срок обусловленный правилами вашего банка).</li>
                         <li>В случае незаезда списывается полная сумма забронированного проживания.</li>
                         <li>При бронировании специальных предложений и при «горячем» бронировании полная стоимость проживания списывается сразу после совершения бронирования. Отмена бронирования не допускается.</li>
                         <li>Оплатить проживание вы можете с помощью банковской карты, наличными средствами, банковским переводом.</li>
                         <li>По вопросам, связанным с бронированием и финансовыми расчетами, вы можете обращаться в клиентскую службу Booking.com или к администрации Lekotti.</li>
                     </ul>
                 </div>
             </div>
            <a href="#liability_provisions" class="popup_link"><span class="des">{% trans "liability provisions" %}</span></a>
            <div style="display: none;">
                 <div id="liability_provisions" class="fancybox-booking">
                    <h2>{% trans "liability provisions" %}</h2>
                     <ul class="fancybox-list">
                         <li>Здесь текст.</li>
                         <li>Текст об условиях ответственности</li>
                         <li>Нужно его будет написать.</li>
                     </ul>
                 </div>
             </div>
        </div>
        <div class="adaptabilidad_promedio">
            <div class="all_costs">
                <div class="total_cost">
                    <label>{% trans "full cost<br>of accommodation:" %}</label>
                    <div class="cost_number"><span id="full_cost">0</span> €</div>
                    <input type="hidden" name="price" value="0">
                </div>
                <div class="now_cost">
                    <label>{% trans "Current<br>Amount payment:" %}</label>
                    <div class="cost_number"><span id="now_cost">0</span> €</div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary booking">{% trans "book" context "Form submit" %}</button>
        </div>
    </div>
    </form>
    </div>
    </div>


{% endblock %}
{% block extra_js %}
    <script src="{% static "js/booking2.js" %}"></script>
    {% with "js/moment/"|add:LANGUAGE_CODE|add:".js" as langFile %}
    <script src="{% static langFile %}"></script>
    <script>
    window['config'] = {
        'lang': '{{ LANGUAGE_CODE }}',
        'acc_types': {
{% for type in types %}
            {{ type.id }}: {
                'id': {{ type.id }},
                'name': '{{ type.name }}',
                'photo': '{{ type.photo }}',
                'description': '{{ type.description|escapejs }}',
                'object_number': {{ type.object_number }},
                'guests_number': {{ type.guests_number }},
                'adults_number': {{ type.adults_number }}
            }{% if not forloop.last %},{% endif %}
{% endfor %}
        },
        'extra_options': {
{% for option in options %}
            {{ option.id }}: '{{ option.name }}'{% if not forloop.last %},{% endif %}
{% endfor %}
        },
        'payment_terms': {
{% for option in payment_terms %}
           {{ option.id }}: '{{ option.name }}'{% if not forloop.last %},{% endif %}
{% endfor %}
        }
    };
    </script>
    {% endwith %}
    {% with "js/jqueryui/i18n/jquery.ui.datepicker-"|add:LANGUAGE_CODE|add:".js" as langFile %}
    <script src="{% static langFile %}"></script>
    {% endwith %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock %}