{% extends "booking/booking_base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <div class="container booking">
    <form method="post" action="{% url "booking:cancel" order.id order.get_public_key %}">
        {% csrf_token %}
        <h2>{% trans "Order # " %}{{ order.id }}</h2>
        {{ form }}
        <button type="submit" class="btn btn-primary btn-lg">{% trans "Cancel" %}</button>
    </form>
    </div>
{% endblock %}