
                <div class="meses" id="meses">
                    <div class="meses_contenedor">
                    <div class="meses_lista">
{% for mes in listaDeLosMeses %}
                        <div class="meses_lista_elemento" data-mes="{{ mes.info|date:"Y.m" }}">
                            <div class="ano">{{ mes.info|date:"Y" }}</div>
                            <div class="mes">{{ mes.info|date:"M" }}</div>
                        </div>
{% endfor %}
                        <div class="marker"></div>
                        <div class="meses_lista_hover hover_marker"></div>
                    </div>
                    </div>
                </div>
                <div class="calendario">
                    <button class="calendario_boton previo" id="calendario_boton_previo"></button>
                    <button class="calendario_boton siguiente" id="calendario_boton_siguiente"></button>
                    <div class="calendario_slider" id="calendario_slider">
                        <div class="calendario_slider_cinta claro" id="calendario_cinta">
{% for mes in listaDeLosMeses %}
                            <div class="calendario_slider_cinta_mes"
                                 data-mes="{{ mes.info|date:"Y.m" }}"
                                 data-primero-dia="{{ mes.lista_dias.dias|first|date:"j" }}"
                                 data-ultimo-dia="{{ mes.lista_dias.dias|last|date:"j" }}"
                                    >
                                <div class="mes">
                                    <h5 class="mes_titulo">{% if mes.lista_dias.dias|length > 3 %}{{ mes.info|date:"F" }}{% endif %}</h5>
                                    <div class="mes_dias">
{% for dia in mes.lista_dias.dias %}
                                        <div class="mes_dias_elemento wd{{ dia|date:"w" }}" data-dia="{{ dia|date:"j" }}">
                                            <div>{{ dia|date:"j" }}</div>
                                        </div>
{% endfor %}
                                    </div>
{% for tipo in mes.por_tipo %}
                                    <div class="tipo" data-tipo="{{ tipo.tipo.id }}">
                                        <div class="opcion">
{% for dia in tipo.dias %}
                                            <div class="dia{% if dia.libre > 0 and dia.price %} libre{% endif %}"
                                                 data-ano="{{ mes.info|date:"Y" }}"
                                                 data-mes="{{ mes.info|date:"n" }}"
                                                 data-dia="{{ dia.date|date:"j" }}"
                                                 data-tipo="{{ tipo.tipo.id }}"
                                                 data-total="{{ dia.total }}"
                                                 data-libre="{{ dia.libre }}"
                                                 data-price="{{ dia.price }}"
                                            >
                                                <div class="tip{% if forloop.parentloop.counter > 2 %} at_top{% endif %}">
                                                {% if dia.price %}
                                                    Стоимость проживания<br>
                                                    с {{ dia.date|date:"j E" }} по {{ dia.tomorrow|date:"j E" }}<br>
                                                    (всего ночей: 1): {{ dia.price }} Евро.<br>
                                                    Кликните, чтобы забронировать эту дату или период.
                                                {% else %}
                                                    Нет свободных мест
                                                {% endif %}
                                                </div>
                                            </div>
{% endfor %}
                                        </div>
                                        <div class="opcion">
{% for dia in tipo.dias %}
                                            <div class="dia"
                                                 data-ano="{{ mes.info|date:"Y" }}"
                                                 data-mes="{{ mes.info|date:"n" }}"
                                                 data-dia="{{ dia.date|date:"j" }}"
                                                 data-tipo="{{ tipo.id }}"
                                            >
{% if dia.packages %}
{% for package in dia.packages %}
                                                <div class="package"
                                                     data-id="{{ package.id }}"
                                                     data-dias="{{ package.days }}"
                                                     data-conditions="{{ package.conditions.id }}"
                                                        >
                                                    {{ package.price }} &euro;
                                                    <div class="tip{% if forloop.parentloop.parentloop.counter > 2 %} at_top{% endif %}">
                                                        Стоимость проживания<br>
                                                        с {{ package.date_check_in }}<br>
                                                        по {{ package.date_check_out }} (всего ночей: {{ package.days }})<br>
                                                        {{ package.price }} Евро.<br>
                                                        Кликните, чтобы забронировать эту дату или период.
                                                    </div>
                                                </div>
{% endfor %}
{% else %}
                                                <div class="tip{% if forloop.parentloop.counter > 2 %} at_top{% endif %}">
                                                    Нет пакетных предложений
                                                </div>
{% endif %}
                                            </div>
{% endfor %}
                                        </div>
                                    </div>
{% endfor %}
                                </div>
                            </div>
{% endfor %}
                            <div class="seleccionado" id="calendario_seleccionado">
                                <div class="puede_ser" id="puede_ser"></div>
                                <div class="tip" id="calendario_tip">
                                    <h6>Вы выбрали период</h6>
                                    <div class="dates">
                                        <div>с 16:00 <span id="tip_check_in_date"></span></div>
                                        <div>до 12:00 <span id="tip_check_out_date"></span></div>
                                    </div>
                                    <div class="to_cancel">Кликните, чтобы<br>отменить</div>
                                    <div class="to_booking">Кликните, чтобы<br>забронировать</div>
                                </div>
                            </div>
                            <div class="seleccionado" id="package_seleccionado">
                                <div class="precio"><span id="package_seleccionado_precio"></span> &euro;</div>
                                <div class="puede_ser" id="package_puede_ser"></div>
                                <div class="tip" id="package_select_tip">
                                    <h6>Вы выбрали срок проживания:</h6>
                                    <div class="dates">
                                        <div>с 16:00 <span id="package_tip_check_in_date"></span></div>
                                        <div>до 12:00 <span id="package_tip_check_out_date"></span></div>
                                        <div>всего ночей: <span id="package_tip_nights_count"></span></div>
                                    </div>
                                    <div class="">Стоимость: <span id="package_tip_price">0</span> евро</div>
                                    <div>Чтобы увеличить срок проживания,<br> вы можете выбрать также<br>последующие пакетные предложения</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>