{% extends "booking/booking_base.html" %}
{% load staticfiles i18n %}
{% block content %}

    <div class="container booking">
    Ваша заявка № {{ order.id }} принята!
    <br><br>
    <form action="https://payment.paytrail.com/" method="post">
        <input name="MERCHANT_ID" type="hidden" value="{{ MERCHANT_ID }}" />
        <input name="AMOUNT" type="hidden" value="{{ PAYMENT_AMOUNT }}" />
        <input name="ORDER_NUMBER" type="hidden" value="{{ ORDER_NUMBER }}" />
        <input name="CURRENCY" type="hidden" value="EUR" />
        <input name="RETURN_ADDRESS" type="hidden" value="{{ return_address }}" />
        <input name="CANCEL_ADDRESS" type="hidden" value="{{ return_address }}" />
        <input name="NOTIFY_ADDRESS" type="hidden" value="{{ return_address }}" />
        <input name="TYPE" type="hidden" value="S1" />
        <input name="CULTURE" type="hidden" value="en_US">
        <input name="MODE" type="hidden" value="1">
        <input name="AUTHCODE" type="hidden" value="{{ AUTHCODE }}" />
        <input name="submit" type="submit" class="btn btn-primary btn-lg" value="{% trans "Pay" %}" />
    </form>
    </div>
{% endblock %}