{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <div class="container booking" ng-app="booking" ng-cloak>
    <div ng-controller="bookingController">
    <form ng-submit="formSubmit()" data-action="{% url "booking:home" %}" id="booking_form">
    {% csrf_token %}
        <div class="tabla">
            <div class="visualizacion">
                <div class="meses" id="meses">
                    <div class="meses_contenedor">
                    <div class="meses_lista">
{% for mes in listaDeLosMeses %}
                        <div class="meses_lista_elemento">
                            <div class="ano">{{ mes.info|date:"Y" }}</div>
                            <div class="mes">{{ mes.info|date:"M" }}</div>
                        </div>
{% endfor %}
                        <div class="meses_lista_hover hover_marker"></div>
                    </div>
                    </div>
                </div>
                <div class="calendario">
                    <button class="calendario_boton previo" id="calendario_boton_previo"></button>
                    <button class="calendario_boton siguiente" id="calendario_boton_siguiente"></button>
                    <div class="calendario_slider" id="calendario_slider">
                        <div class="calendario_slider_cinta claro" ng-click="seleccioneLaFecha($event)" id="calendario_cinta">
{% for mes in listaDeLosMeses %}
                            <div class="calendario_slider_cinta_mes">
                                <div class="mes">
                                    <h5 class="mes_titulo">{{ mes.info|date:"F" }}</h5>
                                    <div class="mes_dias">
{% for dia in mes.dias %}
                                        <div class="mes_dias_elemento wd{{ dia|date:"w" }}"><div>{{ dia|date:"j" }}</div></div>
{% endfor %}
                                    </div>
{% for tipo in types %}
                                    <div class="tipo" data-tipo="{{ tipo.id }}">
                                        <div class="opcion">
{% for dia in mes.dias %}
                                            <div class="dia libre"
                                                 data-ano="{{ mes.info|date:"Y" }}"
                                                 data-mes="{{ mes.info|date:"n" }}"
                                                 data-dia="{{ dia|date:"j" }}"
                                                 data-tipo="{{ tipo.id }}"
                                            ></div>
{% endfor %}
                                        </div>
                                        <div class="opcion">
{% for dia in mes.dias %}
                                            <div class="dia libre"
                                                 data-ano="{{ mes.info|date:"Y" }}"
                                                 data-mes="{{ mes.info|date:"n" }}"
                                                 data-dia="{{ dia|date:"j" }}"
                                                 data-tipo="{{ tipo.id }}"
                                            ></div>
{% endfor %}
                                        </div>
                                    </div>
{% endfor %}
                                </div>
                            </div>
{% endfor %}
                            <div class="seleccionado" id="calendario_seleccionado"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_clear_block">
                <button class="form_clear_button">{% trans "Reset form" %}</button>
            </div>
            {% verbatim %}
            <ul class="lista_de_los_tipos_de_alojamiento">
                <li
                        ng-repeat="acc_type in acc_types"
                        ng-class="{true:'active', false:''}[result.accType==acc_type.id]"
                        ng-click="set_acc_type_selected_id(acc_type.id)"
                        >
                    <img ng-src="/media/{{ acc_type.photo }}" class="foto">
                    <h5 class="titulo">
                        <span class="vert">
                            <span
                                    class="linea"
                                    ng-click="showAccTypeDescription(acc_type.id)"
                                    >{{ acc_type.name }}</span>
                        </span>
                    </h5>
                    <div class="descripcion_del_alojamiento"></div>
                    <select
                            ui-select2="select2Options"
                            ng-model="acc_type['oq_selected']"
                            ng-change="bedsRecount()"
                            class="numero">
                         <option ng-repeat="q in acc_type['oq_variants']">{{ q }}</option>
                    </select>
                </li>
            </ul>
            {% endverbatim %}
        </div>



        <h3>{% trans "Parameters of accommodation" %}</h3>
        <div class="parameters_of_accommodation">
        <div class="type_of_apartments">
        {% verbatim %}
        <select
                ui-select2="select2Options"
                ng-model="result.accType"
                class="acc_type-select">
            <option ng-repeat="acc_type in acc_types" value="{{acc_type.id}}">{{ acc_type.name }}</option>
        </select>
        <select
                ui-select2="select2Options"
                ng-model="acc_types[result.accType].oq_selected"
                ng-change="bedsRecount()"
                ng-disabled="result.accType==0"
                class="number-select"
                ng-disabled="object_number_list.length==0">
            <option
                    ng-repeat="object_number in acc_types[result.accType].oq_variants"
                    value="{{ object_number }}"
                    >{{ object_number }}</option>
        </select>
        </div>
        <div class="dates_of_living">
        <input
                class="form-control date"
                datepicker-popup="{{dateFormat}}"
                ng-model="dtCheckIn"
                is-open="datePickerCIOpened"
                min-date="minDate"
                max-date="maxDate"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)"
                ng-click="openDatePicker($event, 'ci')"
                close-text="Close">
        <input
                class="form-control date"
                datepicker-popup="{{dateFormat}}"
                ng-model="dtCheckOut"
                is-open="datePickerCOOpened"
                min-date="minDate"
                max-date="maxDate"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)"
                ng-click="openDatePicker($event, 'co')"
                close-text="Close">

        {% endverbatim %}
        </div>
        <div class="type_of_living">
        <label>{% trans "Adults" %}</label>
        {% verbatim %}
        <select
                ui-select2="select2Options"
                ng-model="result.places.adult"
                ng-disabled="result.accType==0"
                ng-change="bedsRecount()"
                class="adults-select">
            <option
                    ng-repeat="adults_number in acc_types[result.accType].adults_variants"
                    value="{{ adults_number }}"
                    >{{ adults_number }}</option>
        </select>
        {% endverbatim %}
        <label>{% trans "Children" %}</label>
        {% verbatim %}
        <select
                ui-select2="select2Options"
                ng-model="result.places.children"
                ng-disabled="result.accType==0"
                class="children-select">
            <option
                    ng-repeat="children_number in acc_types[result.accType].children_variants"
                    value="{{ children_number }}"
                    >{{ children_number }}</option>
        </select>
        {% endverbatim %}
        </div>
        </div>


    <div class="terms">
        <div class="options">
            <h3>{% trans "More options" %}</h3>
        {% verbatim %}{{ extraOptions }}{% endverbatim %}
{% for option in options %}
            <div class="terms_item">
                <input type="checkbox"
                       name="option"
                       class="extra_option_checkbox"
                       value="{{ option.id }}">
                <a class="term_title" href="#{{ option.id }}">{{ option.name }}</a>
                <div class="term_description-wrap">
                    <div class="term_description" id="{{ option.id }}">
                        <h4>{{ option.name }}</h4>
                        {{ option.description|safe }}
                    </div>
                </div>
            </div>
{% endfor %}
        </div>
        <div class="payment">
            <h3>{% trans "Payment and Cancellation" %}</h3>
{% for payment_term in payment_terms %}
            <div class="payment_item">
                <input type="radio"
                       name="term"
                       class="payment_terms_rb"
                       value="{{ payment_term.id }}"{% if forloop.first %} checked{% endif %}>
                <span class="payment_item_label">{{ payment_term.name }}</span>
                <div class="description">
                    <div class="description-text">{{ payment_term.description }}</div>
                    <span class="turn">Свернуть</span>
                </div>
            </div>
{% endfor %}
        </div>

    </div>
    <div class="entrada">
        <h1>Ввод данных</h1>
        <div class="slogan">Мы предоставляем свои услуги совершенно бесплатно, так как в отличие от многих других компаний, мы не взимаем плату за нашу работу и не прибавляем дополнительные сборы (за оформление бронирования) к стоимости номера.</div>
        <div class="datos_personales">
            <div class="personale form-group">
                <input type="text" class="form-control" id="user_data_fio" placeholder="ФИО *">
            </div>
            <div class="personale has-error form-group">
                <label class="message">Поле обязательно для заполнения</label>
                <input type="text" class="form-control" id="user_data_email" placeholder="E-mail *">
            </div>
            <div class="personale form-group">
                <input type="text" class="form-control" id="user_data_phone" placeholder="Мобильный телефон *">
            </div>
            <div class="personale form-group">
                <input type="text" class="form-control" id="user_data_check_in_time" placeholder="Предварительное время заезда">
            </div>
            <div class="personale form-group">
                <textarea class="form-control" id="user_data_note" placeholder="Дополнительные сведения"></textarea>
            </div>
            <div class="form-note">Пункты, помеченные «*» обязательны к заполнению.</div>

        </div>
        <div class="condiciones_seleccionadas">
            <div class="seleccionado alojamiento" ng-class="{true:'show'}[result.accType>0]">
                <label>Тип размещения:</label>
                <div class="valor">{% verbatim %}{{ acc_types[result.accType].name }}{% endverbatim %}</div>
            </div>
            <div class="seleccionado period" ng-class="{true:'show'}[result.dates.checkIn.length>0||result.dates.checkOut.length>0||result.places.adult>0||result.places.children>0]">
                <label>Период размещения:</label>
                <div class="valor">{% verbatim %}
                    <span ng-show="result.dates.checkIn">c {{ result.dates.checkIn }}</span>
                    <span ng-show="result.dates.checkOut">по {{ result.dates.checkOut }}</span>
                    <span class="que">
                        <span ng-show="result.places.adult">{{ result.places.adult }} взрослых<span ng-show="result.places.children">,</span></span>
                        <span ng-show="result.places.children">{{ result.places.children }} детский</span>
                    </span>
                {% endverbatim %}</div>
            </div>
            <div class="seleccionado opciones" ng-class="{true:'show'}[result.options.length>0]">
                <label>Дополнительные опции:</label>
                {% verbatim %}
                <div class="valor" ng-repeat="valor in result.options">{{ bData.extra_options[valor] }}</div>
                {% endverbatim %}
            </div>
            <div class="seleccionado condiciones" ng-class="{true:'show'}[true]">
                <label>Условия оплаты и отмены бронирования:</label>
                <div class="valor">{% verbatim %}{{ bData.payment_terms[result.terms] }}{% endverbatim %}</div>
            </div>
    </div>
    </div>
    <div class="total">
        <div class="rules_links">
            <a href="#text" class="terms_of_booking"><span class="des">{% trans "Terms of booking" %}</span></a>
            <div style="display: none;">
                 <div id="text" class="fancybox-booking">
                    <h2>Правила бронирования</h2>
                     <ul class="fancybox-list">
                         <li>При бронировании принимаются карты Visa и MasterCard<br>
Вы можете отменить бронирование не позднее чем 2 недели до заезда.</li>
                         <li>За 2 недели до заезда на вашей банковской карты, указанной при бронировании, будет заблокирована сумма первого дня проживания, которая будет списана при отмене бронирования в срок менее чем 2 недели до заезда.</li>
                         <li>Полная стоимость проживания списывается с карты при заселении. Возможен расчет наличными средствами (в этом случае, заблокированная на карте сумма будет разблокирована в срок обусловленный правилами вашего банка).</li>
                         <li>В случае незаезда списывается полная сумма забронированного проживания.</li>
                         <li>При бронировании специальных предложений и при «горячем» бронировании полная стоимость проживания списывается сразу после совершения бронирования. Отмена бронирования не допускается.</li>
                         <li>Оплатить проживание вы можете с помощью банковской карты, наличными средствами, банковским переводом.</li>
                         <li>По вопросам, связанным с бронированием и финансовыми расчетами, вы можете обращаться в клиентскую службу Booking.com или к администрации Lekotti.</li>
                     </ul>
                 </div>
             </div>
            <a href="#"><span class="des">{% trans "liability provisions" %}</span></a>
        </div>
        <div class="adaptabilidad_promedio">
            <div class="all_costs">
                <div class="total_cost">
                    <label>{% trans "full cost<br>of accommodation:" %}</label>
                    <div class="cost_number">2850 €</div>
                </div>
                <div class="now_cost">
                    <label>{% trans "Current<br>Amount payment:" %}</label>
                    <div class="cost_number">1200 €</div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary booking">{% trans "book" context "Form submit" %}</button>
        </div>
    </div>
    </form>
    </div>
    </div>

    <script id="booking-data" type="text/javascript">
    ({
        'types': [
{% for type in types %}
            {
                'id': {{ type.id }},
                'name': '{{ type.name }}',
                'photo': '{{ type.photo }}',
                'description': '{{ type.description|escapejs }}',
                'object_number': {{ type.object_number }},
                'guests_number': {{ type.guests_number }},
                'adults_number': {{ type.adults_number }}
            }{% if not forloop.last %},{% endif %}
{% endfor %}
        ],
        'extra_options': {
{% for option in options %}
            {{ option.id }}: '{{ option.name }}'{% if not forloop.last %},{% endif %}
{% endfor %}
        },
        'payment_terms': {
{% for option in payment_terms %}
            {{ option.id }}: '{{ option.name }}'{% if not forloop.last %},{% endif %}
{% endfor %}
        },
        'config': {
            'lang': '{{ LANGUAGE_CODE }}',
            'baloon_template': '<div class="sel_balloon"><h6>Вы выбрали период</h6><p>с 16:00 <span class="check-in"></span><br>по 12:00 <span class="check-out"></span></p><span class="if-selected">Кликните, чтобы отменить</span><span class="if-not-selected">Кликните, чтобы забронировать</span></div>'
        }
    })
    </script>
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/booking.js" %}"></script>
    {% with "js/moment/"|add:LANGUAGE_CODE|add:".js" as langFile %}
    <script src="{% static langFile %}"></script>
    {% endwith %}
{% endblock %}