body {
    border-top: 8px solid #00a3da;
}

#header {
    background: white;
    margin-bottom: 24px;
    color: #333;
}
    #header a:link, #header a:visited {
        color: #00a3da;
    }
#header:before,
#header:after {
  display: table;
  content: " ";
}

#header:after {
  clear: both;
}

#user-tools {
    font-size: 13px;
    right: 64px;
    top: 32px;
    padding: 0 10px;
}

#header #bookmark-button {
    background: #00a3da;
    width: 48px;
    height: 48px;
    margin-top: 0;
    padding: 0 12px;
}
    #header #bookmark-button:after {
        content: '';
        display: block;
        height: 25px;
        width: 24px;
        background: transparent url(../images/admin-tools.png) no-repeat 0 -425px;
        position: absolute;
        top: 12px;
    }
        #header #bookmark-button.bookmarked:after { background-position: 0 -445px; }

#header #branding h1 {
    margin: 0 16px;
    padding: 0;
    text-indent: -9999px;
    background: #00a3da url("../../images/logo.png") center no-repeat;
    height: 103px;
    width: 165px;
    float: left;
}

#header .lang-switcher {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 128px;
}
    #header .lang-switcher li {
        display: inline-block;
        padding: 0;
        margin: 0 1px 0 0;
    }
        #header .lang-switcher li a {
            display: inline-block;
            color: white;
            font-size: 12px;
            background: #4e4f53;
            height: 19px;
            line-height: 19px;
            width: 31px;
            text-align: center;
        }
            #header .lang-switcher li.active a {
                background: #00a3da;
            }

#header #navigation-menu {
    float: left;
    background: transparent;
    margin-top: 68px;
}
#header #navigation-menu li {
    font-size: 13px;
}
#header ul#navigation-menu li:hover,
#header ul#navigation-menu li.over,
#header ul#navigation-menu li.selected {
    background: transparent;
}
    #header ul#navigation-menu li a,
    #header ul#navigation-menu li.first a {
        color: #e67536;
        margin: 0;
        line-height: 34px;
        padding: 0 16px;
        background: transparent;
        text-indent: 0;
        border: 0;
    }
    #header ul#navigation-menu li span {
        margin-top: 10px;
    }


div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}
