{% load thumbnail i18n chunks %}
{% if activity %}
    <section class="activity" id="page-section-activity">
    <div class="container">
        <header class="section-header row">
            <div class="col-md-3"><div class="blue-wave"></div></div>
            <h2 class="col-md-6 text-center">{% chunk "index_h2_Entertainment-and-Activity" %}</h2>
            <div class="col-md-3">
                <div class="blue-wave"></div>
            </div>
        </header>
        <div class="activity-list announce-list row">
            <div class="iosslider">
            <div class="slider">
            {% for item in activity %}
                <div class="slide col-md-3 col-sm-4 col-xs-6 text-center">
                    <a class="material-link" href="{{ item.get_absolute_url }}">
                        {% thumbnail item.image "216x216" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-circle material-preview">
                        {% endthumbnail %}
                        <h4 class="material-heading">{{ item.name }}</h4>
                    </a>
                </div>
            {% endfor %}
            </div>
            </div>
            <button class="arrow prev"></button>
            <button class="arrow next"></button>
        </div>
    </div>
    </section>
{% endif %}