{% extends "base.html" %}
{% load i18n thumbnail staticfiles evaluate chunks %}
{% block title %}{{ activity.title|default:activity.name }}{% endblock %}
{% block meta_description %}{{ activity.meta_description|default:block.super }}{% endblock %}
{% block meta_keywords %}{{ activity.meta_keywords|default:block.super }}{% endblock %}
{% block content_header %}
    <header class="container content-head">
        <div class="pull-right material-tools">
            {% block content-head-tools %}
                <a class="material-tool up back2list" href="{% url "activity:home" %}"><span class="glyphicon glyphicon-th-list"></span> {% chunk 'activity_Back-to-activity-list' %}</a>
            {% endblock %}
        </div>
        <h1 class="pull-left">{% block page_title %}{{ activity.name }}{% endblock %}</h1>
    </header>
{% endblock %}
{% block content %}
    <article class="container material-detail">
        <div class="material-thumb pull-left material-main-image">
    {% thumbnail activity.image "480x480" as im %}
            <img src="{{ im.url }}" class="img-responsive">
    {% endthumbnail %}
        </div>
                {% with content=activity.description|decode %}
                {% evaluate content %}
                {% endwith %}
    </article>
{% endblock %}
{% block after_content %}
    {% if activity.activityphoto_set.all %}
        {% include "_photogallery.html" with photos=activity.activityphoto_set.all app_code='activity' page_id=activity.id %}
    {% endif %}
    {% if activity.show_comments %}
    {% include "main/comments.html" %}
    {% endif %}
    {% if not activity.activityphoto_set.all and not activity.show_comments %}
    {{ block.super }}
    {% endif %}
{% endblock %}
{% block comments %}
{% endblock %}