{% extends "base.html" %}
{% load thumbnail i18n staticfiles sitetree seasons %}
{% block content_header %}
    <header class="container content-head">
        <div class="pull-right material-tools">
            {% season_switch %}
        </div>
        <h1 class="pull-left">{% block page_title %}{% sitetree_page_title from "mainmenu" %}{% endblock %}</h1>
        <div class="blue-wave"></div>
    </header>
{% endblock %}
{% block content %}
    <div class="container material-list">
        <div class="row">
{% for activity in activities %}
            <article class="col-md-4 col-sm-6">
            <a href="{{ activity.get_absolute_url }}" class="material-link">
                <div class="material-thumb">
                    {% thumbnail activity.image "360x204" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive material-preview">
                    {% endthumbnail %}
                </div>
                <h4 class="material-heading">{{ activity.name }}</h4>
                <div class="text material-short-description">
                {% if activity.short_description %}
                    {{ activity.short_description|striptags|safe|truncatechars:288 }}
                {% else %}
                    {{ activity.description|striptags|safe|truncatechars:288 }}
                {% endif %}
                <span class="link-arrow"></span>
                </div>
            </a>
            </article>
        {% if forloop.counter|divisibleby:3 %}
            <div class="clearfix visible-md visible-lg"></div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="clearfix visible-sm"></div>
        {% endif %}
{% endfor %}
        </div>
    </div>

{% endblock %}