{% extends "base.html" %}
{% load i18n sitetree chunks staticfiles %}
{% block head_extra_css %}
    <link rel="stylesheet" href="{% static "css/print.css" %}" media="print">
{% endblock %}
{% block content_header %}
    <header class="container content-head">
        <div class="pull-right material-tools hidden-print">
            {% block content-head-tools %}
                <a class="material-tool up back2list" href="/ski_slope/">{% chunk 'sky_slope-description' %}</a>
            {% endblock %}
        </div>
        <h1 class="pull-left">{% sitetree_page_title from "maintree" %}</h1>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
{% for schedule in schedules %}
                {{ schedule.description|safe }}
                <table class="table table-striped">
                    <thead><tr>
                        <th>{% chunk "ski_weekday" %}</th>
                        <th>{% chunk "ski_worktime" %}</th>
                    </tr></thead>
                    <tbody>
                    {% for row in schedule.worktime_set.all %}
                        <tr>
                            <td>{{ row.ancient_weekday|date:"l" }}</td>
                            <td>
                                {% if not row.active %}
                                    {% chunk "ski_dont_work" %}
                                {% else %}
                                    {% if row.open %} {% chunk "ski_from" %} {{ row.open|time:"H:i" }} {% endif %}
                                    {% if row.close %} {% chunk "ski_to" %} {{ row.close|time:"H:i" }} {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br><br>
{% endfor %}
            {% if reschedule %}
                {% chunk "ski_slope_worktime_changes" %}
                <table class="table table-striped">
                    <thead><tr>
                        <th>{% chunk "ski_period" %}</th>
                        <th>{% chunk "ski_worktime" %}</th>
                    </tr></thead>
                    <tbody>
                    {% for row in reschedule %}
                        <tr>
                            <td>{% if row.date_end %}{% chunk "ski_from" %} {{ row.date|date:"d.m" }} {% chunk "ski_to" %} {{ row.date_end|date:"d.m" }}{% else %}
                                {{ row.date|date:"d.m" }}{% endif %}
                            </td>
                            <td>
                                {% if row.holiday %}
                                    {% chunk "ski_dont_work" %}
                                {% else %}
                                    {% if row.date_end %}{% if row.open or row.close %}{% chunk "ski_every-day" %}{% endif %}{% endif %}
                                    {% if row.open %} {% chunk "ski_from" %} {{ row.open|time:"H:i" }} {% endif %}
                                    {% if row.close %} {% chunk "ski_to" %} {{ row.close|time:"H:i" }} {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <div class="row rc_save hidden-print">
                <div class="col-md-3"><a href="javascript:window.print()" class="printing">{% chunk "ski_print" %}</a></div>
                <div class="col-md-9"><a href="javascript:location.href='mailto:?SUBJECT='+document.title+'&BODY='+escape(location.href)" class="send_link">{% chunk "ski_send-link" %}</a></div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}