{% load i18n chunks thumbnail evaluate chunks %}
    <section class="section">
        <h3>{% chunk "ski_price" %}</h3>
{% if tabs %}
        <ul class="row list-unstyled">
{% for tab in tabs %}
            <li class="col-xs-4 variant-tile{% if forloop.first %} active{% endif %}">
                <a class="variant_tile" href="#tab-pane-{% if tab.slug %}{{ tab.slug }}{% else %}tab_{{ tab.id }}{% endif %}" data-toggle="tab">
{% thumbnail tab.image "230x139" as im %}
                    <img src="{{ im.url }}" class="img-responsive">
{% endthumbnail %}
                    <h4>{{ tab.name }}</h4>
                </a>
            </li>
{% endfor %}
        </ul>
    </div></div></div></div>
    <section class="price_lists_data incut">
        <div class="container tab-content price_block_content">
{% for tab in tabs %}
            <div class="row tab-pane{% if forloop.first %} active{% endif %}" id="tab-pane-{% if tab.slug %}{{ tab.slug }}{% else %}tab_{{ tab.id }}{% endif %}">
                <div class="col-md-8 price_block_content gr_block">
                    {% with content=tab.content|decode %}
                    {% evaluate content %}
                    {% endwith %}
                </div>
            </div>
{% endfor %}
        </div>
    </section>
    </section>
    <div class="container"><div class="row"><div class="col-md-8"><div>
{% endif %}