{% load tables chunks i18n %}
    <section class="price_lists_data incut">
        <div class="container tab-content price_block_content">
            <div class="row tab-pane active" id="tab_tickets">
                <div class="col-md-8 price_block_content gr_block">
                    {% table price.single_visit %}<br><br>
                    {% table price.abonements 'collapsed' %}
                </div>
            </div>
            <div class="row tab-pane" id="tab_rental">
                <div class="col-md-8 gr_block">
                    {% chunk "price_equipment_before" %}
                    <br>
                    <div class="table-price">
                    {% table price.equipment_ski_adult %}
                    {% table price.equipment_ski_children %}
                    {% table price.equipment_snowboard_adult %}
                    {% table price.equipment_snowboard_children %}
                    </div>
                    <br>
                    {% chunk "price_equipment_after" %}<br>
                    <a class="how-to-get-link btn btn-primary btn-lg" href="/activity/">{% chunk "ski_activity-list" %}</a>
                </div>
            </div>
            <div class="row tab-pane" id="tab_training">
                <div class="col-md-8 price_block_content gr_block">
                    {% chunk "price_cost_before" %}
                    <br>
                    {% table price.training %}
                    <br>
                    {% chunk "price_cost_after" %}
                </div>
            </div>
        </div>
    </section>