{% load i18n chunks %}
<div class="worktime-announce">
    <hgroup class="text-center">
        <h2>{% chunk "ski_schedule" %}</h2>
        <small>{% chunk "ski_right-descr" %}</small>
    </hgroup>
    <table class="table table-compact">
        {% for row in schedule %}
            <tr class="row_{{ row.date|date:"w" }}">
                <td>
                    {% if forloop.first %}
                        {% chunk "ski_today" %}
                    {% else %}
                        {{ row.date|date:"d.m" }}
                    {% endif %}
                </td>
                <td>{{ row.date|date:"D" }}</td>
                <td>
                    {% if row.open %}{% chunk "ski_from" %} {{ row.open|time:"H:i" }}{% endif %}
                    {% if row.close %}{% chunk "ski_to" %} {{ row.close|time:"H:i" }}{% endif %}
                    {% if not row.open and not row.close %}&mdash;{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <p><a href="{% url "ski_slope_worktime" %}" class="for_all_season">{% chunk "ski_schedule-for-all-season" %}</a></p>

</div>