@import "bootstrap";

@import "bootstrap";
@import "flexbox";


@luz_azul:    #f2f8fd;
@azul:        #00a3da;
@dia_activo:  #ed7233;

.ui-cursor-grab() {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  &.ui-draggable-dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}


.acc_type-select {
  min-width: 200px;
  .pull-left();
}
.number-select {
  min-width: 60px;
  .pull-left();
}

.pagecontent ul.dropdown-menu:not(.list-unstyled) li {
  padding-left: 0;
}

.booking2 {
  a:focus, a:active { outline: none; }
  .user-select(none);



  .tabla {
    @media (max-width: @screen-xs-max) {
      .hide();
    }
    .clearfix();
    .form_clear_button {
      .btn-link();
      padding: 0 0 0 24px;
      background: url("../images/clear_form.png") 0 4px no-repeat;
      color: #e67536;
      text-decoration: underline;
      border: 0;
      margin-top: 13px;
      &:hover {
        color: #e67536;
        text-decoration: none;
      }
      &:active, &:focus { outline: none; color: #e67536; }
    }
    .lista_de_los_tipos_de_alojamiento {
      width: 210px;
      @media (min-width: @screen-md-min) { width: 350px; }
      li {
        .clearfix();
        padding: 6px 0;
        margin-bottom: 14px;
        cursor: pointer;
        &.active {
          background: #f2f8fd;
          & h5 {
            .vert {
              color: @azul;
              .linea{
                border-bottom: 1px dashed @azul;
              }
            }
          }
          .numero {
            .select2-choice {
              border: 1px solid @azul;
              color: @azul;
              .select2-arrow {
                background: url("../images/select2-active.png") 0 10px no-repeat;
              }
            }
          }
        }

        .foto {
          .pull-left();
          margin-right: 18px;
          @media (max-width: @screen-sm-max) { .hide(); }
        }
        .titulo {
          @media (max-width: @screen-sm-max) { width: 136px; }
          .pull-left();
          width: 212px;
          margin: 0;
          font-weight: normal;
          font-size: 13px;
          display: table;
          min-height: 31px;
          &:hover {
            .vert {
              .linea {
                color: @azul;
                border-bottom: 1px dashed @azul;
              }
            }
          }
          .vert {
            vertical-align: middle;
            display: table-cell;
          }
        }
        .numero {
          @media (max-width: @screen-sm-min) { .pull-left(); }
          .pull-right();
          margin-top: 2px;
          margin-right: 12px;
          background: #FFFFFF;
        }
      }
    }
  }
  .visualizacion {
    .pull-right();
    height: 315px;
    width: @container-sm - 210px - @grid-gutter-width;
    @media (min-width: @screen-md-min) { width: @container-md - 350px - @grid-gutter-width; }
    @media (min-width: @screen-lg-min) { width: @container-lg - 350px - @grid-gutter-width; }
    background: @gray-lighter data-uri('../images/ajax-loader.gif') center no-repeat;

    .meses {
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden;
      .size(100%; 40px);
      &_contenedor {
        .square(100%);
        position: absolute;
        top: 0;
        left: 0;
      }
      &_lista{
        .square(100%);
        .ui-cursor-grab();
        &_elemento {
          .pull-left();
          .size(44px;40px);
          .text-center();
          padding-top: 5px;
          .ano {
            font-size: 10px;
            color: #666666;
          }
          .mes {
            font-size: 13px;
            text-transform: uppercase;
            color: #000000;
            border-left: 1px solid #dedede;
          }
          &:first-child {
            .mes {
              border-left: none;
            }
          }
        }
        .marker,
        &_hover {
          .size(44px;40px);
          position: absolute;
          top: 0;
          left: 0;
        }
        .marker {
          background: fade(@brand-primary, 50%);
          border: 1px solid @brand-primary;
        }
        &_hover {
          z-index: -1;
          background: fade(@brand-primary, 30%);
          border: 1px solid fade(@brand-primary, 50%);
          .opacity(0);
          .transition(opacity .2s ease);
          &.visible {
            .opacity(1);
          }
        }
      }
    }

    .calendario {
      position: relative;
      .size(100%; 273px);
      background: #fafafa;
      overflow: hidden;

      &_slider {
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        .square(100%);
        &_cinta {
          .square(100%);
          .ui-cursor-grab();

          &.claro {
            .dia.libre:hover:before,
            .package:hover:before {
              content: '';
              position: absolute;
              z-index: 1000;
              top: 0;
              left: 0;
              .square(100%);
              display: block;
              background: fade(white, 80%);
//              background: #e6f2d9;
              border:2px solid @dia_activo;
            }
          }

          &_mes {
            .pull-left();
            height: 100%;
            overflow: visible!important;
            &.sMes {
              z-index: 9001;
            }
            &:first-child {
              .mes_titulo {
                padding-left: 27px;
              }
            }

            .mes {
              &_titulo {
                height: 26px;
                line-height: 26px;
                margin: 0;
              }
              &_dias {
                .flex-display();
                &_elemento {
                  .flex(1);
                  .size(29px; 22px);
                  .text-center();
                  color: #666;
                  font-size: 12px;
                  line-height: 22px;
                  &.wd6,
                  &.wd0 {
                    color: #e67536;
                  }
                  position: relative;
                  &>div {
                    position: relative;
                    .square(100%);
                    left: -15px;
                  }
                  &.selected {
                    &>div {
                      background: @brand-primary;
                      color: white;
                    }
                  }
                }
              }
              .tipo {
                &+.tipo {
                  border-top: 2px solid white;
                }
                .opcion {
                  .clearfix();
                  &+.opcion {
                    border-top: 1px solid #d3d3d3;
                  }
                  .dia {
                    position: relative;
                    .size(29px; 27px);
                    .pull-left();
                    background: data-uri("../data-images/booking/parcial.png");
                    border-left: 1px solid #d3d3d3;
                    &.libre {
                      background: #84bf41;
                      .box-sizing(border-box);
                      position: relative;
                    }
                    &.parcial {
                      background: #adadad;
                    }
                    &:hover {
                      & > .tip {
                        display: block;
                      }
                    }
                    .package {
                      .square(100%);
                      background: #baff61;
                      position: absolute;
                      z-index: 8;
                      left: 0;
                      top: 0;
                      color: #46494f;
                      line-height: 27px;
                      white-space: nowrap;
                      padding: 0 8px;
//                      border: 2px solid transparent;
                      &:hover {
                        z-index: 800;
//                        background: #e6f2d9;
//                        border: 2px solid #e67536;
                        & > .tip {
                          display: block;
                        }
                      }
//                      display: none;
//                      &.display {
//                        display: block;
//                      }
//                      &.selected {
//                        background: #e67536;
//                        color: white;
//                      }
                    }
                  }
                }
              }
            }
          }

          .seleccionado {
            display: none;
            position: absolute;
            z-index: 900;
            .size(28px; 27px);
            background: @dia_activo;
            cursor: pointer;

            .precio {
              position: absolute;
              .square(100%);
              color: white;
              line-height: 27px;
              padding: 0 8px;
            }

            .puede_ser {
              position: absolute;
              z-index: 9999;
              top: 0;
              left: 28px;
              .size(0px; 27px);
              overflow: hidden;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                .square(100%);
                background: fade(white, 80%);
                border: 2px solid @dia_activo;
              }
            }

            .tip {
              .show();
            }

            &.to_booking {
              .to_cancel {
                .hide();
              }
              .to_booking {
                .show();
              }
            }
          }
        }
      }

      &_boton {
        .size(22px; 48px);
        position: absolute;
        top: 0;
        z-index: 2;
        border: 0;
        &:active, &:focus { outline: none; }
        background: #fafafa center no-repeat;
        &.previo {
          left: 0;
          background-image: data-uri('../images/b_previo.png');
          &:hover { background-image: data-uri('../images/b_previo_hover.png'); }
        }
        &.siguiente {
          right: 0;
          background-image: data-uri('../images/b_siguiente.png');
          &:hover { background-image: data-uri('../images/b_siguiente_hover.png'); }
        }
      }
    }
  }










  .form_clear_block {
    height: 88px;
  }
  .btn-sm {
    border-radius: 0;
  }
  .parameters_of_accommodation {
    .clearfix();
    div {
      .lh {.hide();}
      &.has-error {
        .lh {
          .show();
          label {
            border: 1px solid #dd8585;
            position: absolute;
            color: #be0000;
            font-size: 12px;
            background: #FFF;
            width: 126px;
            padding: 6px 9px;
            -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4);
            box-shadow: 0 0 4px rgba(0,0,0,.4);
            &:after {
              content: data-uri('../images/message_arrow_bottom.png') 0 0 no-repeat;
              position: absolute;
              bottom:-11px;
              left: 42px;
            }
          }
        }
      }
    }
    .type_of_apartments {
    .pull-left();
      &.has-error {
        position: relative;
        .lh {
          position: absolute;
          width: 0;
          height: 0;
          label {
            top: -57px;
            left: 0;
          }
        }
        .select2-container.acc_type-select .select2-choice { border-color: #dd8585; }
      }

  }
    .dates_of_living {
      .pull-left();
       &.has-error {
         position: relative;
         .lh {
          position: absolute;
          width: 0;
          height: 0;
          label {
            top: -57px;
            left: 0;
          }
         }
         .form-control.date.check-in {border-color: #dd8585;}
       }

      @media (max-width: @screen-sm-max) { clear: both; margin-top: 20px; }
    }
    .type_of_living {
      .pull-left();
       &.has-error {
         .lh {
          position: absolute;
          width: 0;
          height: 0;
          label {
            width: 156px;
            top: -84px;
            left: 0;
          }
        }
        .select2-container.adults-select .select2-choice { border-color: #dd8585; }
       }
      @media (max-width: @screen-sm-max) { clear: both; margin-top: 20px; }
    }
  }

  h3 {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-transform: none;
    background: @luz_azul;
    padding: 6px 16px;
  }
  label {
    color: #333333;
    font-weight: normal;
  }

  .select2-container {
    margin-right: 18px;
    width: 44px;
    &:active, &:focus {
      box-shadow: 1px 1px 1px red;
      outline: none;

    }
    .select2-choice {
      border: 1px solid #e3e3e3;
      border-radius: 0;
      background: none;
      padding: 0 0 0 6px;
      text-align: center;
      .select2-chosen {
        margin-right: 20px;
      }
      .select2-arrow {
        border-left: 0;
        right: -3px;
        border-radius: 0;
        background: url("../images/select_arrow.png") 0 10px no-repeat;
      }
    }
  }
  .acc_type-select {
    width: 238px;
    margin-right: 4px;
  }
  .terms {
    .clearfix();
    h3 {
      line-height: 20px;
    }
    .options {
      @media (max-width: @screen-sm-max) { clear: both; width: 100%; }
      .pull-left();
      width: 35%;
      .terms_item {
        @media (max-width: @screen-xs-max) { margin-left: 0; }
        margin-bottom: 14px;
        margin-left: 16px;
        .term_title {
          color: #333333;
          text-decoration: none;
          border-bottom: 1px dashed #333333;
          &:hover {
            border-bottom: none;
          }
        }

        .term_description-wrap {
          .hide();
        }
      }
    }
    .payment {
      @media (max-width: @screen-sm-max) { clear: both; width: 100%; }
      .pull-left();
       width: 65%;
      h3 {
        @media (max-width: @screen-sm-max) { padding-right: 90px; }
      }
      &_item {
        @media (max-width: @screen-xs-max) { margin-left: 0; }
        margin-left: 16px;
        margin-bottom: 12px;
        &_label {
          @media (max-width: @screen-sm-max) { margin-right: 20px; }
          color: @azul;
          border-bottom: 1px dashed @azul;
          cursor: pointer;
          &:hover {
            border-bottom-color: transparent;
          }
        }
        &.open {
          span {
            color: #000;
            border-bottom-color: transparent;
          }
        }
        .description {
          margin-left: 28px;
          line-height: 16px;
          margin-top: 11px;
          color: #666666;
          display: none;
          .description-text {
            background: #f9f9f9;
            padding: 8px 10px;
          }
          .turn {
            color: @azul;
            border-bottom: 1px dashed @azul;
            display: inline-block;
            font-size: 12px;
            margin-top: 6px;
            margin-bottom: 6px;
            cursor: pointer;
          }
        }

      }
    }
  }
  .entrada {
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
    width: 760px;
    .clearfix();
    h1 { margin-bottom: 18px; }
    .slogan {
      @media (max-width: @screen-xs-max) {
        font-weight: normal;
        width: 100%;
      }
      width: 748px;
      font-weight: bold;
      margin-bottom: 34px;
    }
    .datos_personales {
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }
      .pull-left();
      width: 312px;
      .form-note {
        font-size: 12px;
      }
      .lh {
        position: absolute;
        top: 0;
        right: 0;
        .square(0);
      }
      .personale {
        .message {
          .hide();
          position: absolute;
          border: 1px solid #dd8585;
          color: #be0000;
          font-size: 12px;
          left: 9px;
          top: -8px;
          background: #FFFFFF;
          width: 126px;
          padding: 6px 9px;
          .box-shadow(0 0 4px rgba(0,0,0,.40));
          &:after {
            content: data-uri('../images/message_arrow.png') 0 0 no-repeat;
            position: absolute;
            top:17px;
            left: -6px;
          }
          &.special {
            .hide();
          }
        }
        &.has-error {
          position: relative;
          textarea { height: 99px; }
          .message {
            .show();
          }
          .form-control {
            border-color: #dd8585;
          }
          &.special {
            .message {
              .hide();
              &.special {
                .show();
              }
            }
          }
        }
        .form-control {
          float: none !important;
          margin-bottom: 14px;
          box-shadow: none;
          border-radius: 0px;
          color: #666666;
          &:focus {
            border-color: #cee9f5;
            .box-shadow(0 0 4px rgba(168,215,238,.75));
          }
        }
      }
    }
    .condiciones_seleccionadas {
      @media (max-width: @screen-xs-max) {
        .hide();
      }
      .pull-right();
      width: 382px;
      .seleccionado {
//        .hide();
        &.show {
          .show();
        }

        background: @luz_azul 9px 10px no-repeat;
        padding: 8px 20px 8px 33px;
        margin-bottom: 15px;
        @media (max-width: @screen-sm-max) {
          margin-bottom: 0;
          padding-bottom: 16px;
        }
        &.alojamiento {
          background-image: data-uri('../images/alojamiento.png');
        }
        &.period {
          background-image: data-uri('../images/b-period.png');
          background-position: 9px 9px;
        }
        &.opciones {
          background-image: data-uri('../images/b-options.png');
        }
        &.condiciones {
          background-image: data-uri('../images/condiciones.png');
        }

        label {
          font-size: 13px;
          color: #666666;
        }
        .valor {
          font-weight: 500px;
          .que {
            margin-left: 14px;
            line-height: 1.2 !important;
          }
        }
      }
      #cs_children_count_block,
      #cs_extra_block {
        display: none;
      }
    }

  }
  .total {
    @media (max-width: @screen-sm-max) { background: white; padding: 0; }
    background: @luz_azul;
    padding: 10px;
    font-size: 13px;
    margin-top: 42px;
    .clearfix();
    label {
      .pull-left();
      margin-top: 4px;
      padding-right: 12px;
      border-right: 1px solid #cccccc;
      margin-right: 12px;
      margin-bottom: 0;
      padding-bottom: 5px;
      font-size: 13px;
    }
    .cost_number {
      @media (max-width: @screen-sm-max) { font-size: 28px; }
      .pull-left();
      font-size: 36px;
    }
    .rules_links {
      .pull-left();
      margin-right: 56px;
      @media (max-width: @screen-sm-max) { clear: both; width: 100%; padding-left: 10px; float:none !important; }
      @media (max-width: @screen-xs-max) {  padding-left: 0; }
      a {
        @media (max-width: @screen-sm-max) { display: inline-block; margin-right: 18px; }
        @media (max-width: @screen-xs-max) { display: block; }
        display: block;
        color: #333333;
        &:first-child {
          margin-bottom: 10px;
        }
        &:hover {
          text-decoration: none;
        }
        .des {
          border-bottom: 1px dashed #333333;
          &:hover {
            border-bottom-color: transparent;
          }
        }
      }
    }
    .adaptabilidad_promedio {
      @media (max-width: @screen-sm-max) { .clearfix(); background: @luz_azul; padding: 10px; }
      @media (max-width: @screen-xs-max) { background: white; padding: 0; }
      .all_costs {
        @media (max-width: @screen-xs-max) { .clearfix(); background: @luz_azul; margin: 15px 0 16px 0; padding: 10px; }
      }
    }
    .total_cost {
      @media (max-width: @screen-sm-max) { margin-right: 24px; }
      @media (max-width: @screen-xs-max) { margin-bottom: 22px; }
      @media (max-width: @screen-md-max) { margin-right: 45px; }

      .pull-left();
      margin-right: 72px;
      .cost_number {
        color: @azul;
      }
    }
    .now_cost {
      .pull-left();
      .cost_number {
        color: #db621e;
      }
    }
    button.booking {
      @media (max-width: @screen-sm-max) { margin-top: 2px; }
      @media (max-width: @screen-xs-max) { clear: both; float: none !important; margin-left: 10px; }
      .pull-right();
      margin-top: 5px;
      &:focus, &:active { outline: none; }
    }
  }

}
.select2-drop, .select2-drop-active {
  border: 1px solid #e3e3e3 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.select2-results {
  padding: 0 !important;
  margin: 0 !important;
  max-height: 100px !important;
  .select2-result-label {
    font-size: 13px;
    color: #666;
  }
  .select2-highlighted {
    background: @azul !important;
    .select2-result-label {
      color: #FFFFFF !important;
      line-height: 17px !important;
    }
  }

}


.form-control {
  .pull-left();
  &.date {
    width: 150px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    height: 26px;
    box-shadow: none;
    margin-right: 18px;
    background: url("../images/date.png") 124px 3px no-repeat;
    &:hover, &:focus, &:active {
      background: url("../images/date-hover.png") 124px 3px no-repeat;
    }
  }
}

body .fancybox-booking  {
  h2, h3 {
    margin: 6px 0 20px 0;
    color: #68af18;
    font-size: 20px;
  }
  h4 { margin-top: 0; }
  a:focus, a:active { outline: none; }

  .fancybox-close {
    width: 10px;
    height: 11px;
    top: 15px;
    right: 11px;
    background: url("../images/fancybox-b-close.png") center no-repeat;
  }
  .fancybox-list {
    padding: 0;
    list-style: none;
    overflow: hidden;
    li {
      margin: 0 0 8px;
      padding-left: 19px;
      position: relative;
      &:before {
        border: 4px solid transparent;
        display: inline-block;
        margin: 0 11px 0 -19px;
        vertical-align: 2px;
        content: "";
        height: 8px;
        width: 8px;
        border-left-color: #84bf41;
        position: absolute;
        top: 5px;
       }
    }
  }
}

.ui-datepicker {
  z-index: 908!important;
}



.tip {
  .una_noche & {
    .hide();
  }
  position: absolute;
  z-index: 902;
  display: none;
  left: -32px;
  top: 42px;
  background: white;
  .box-shadow(rgba(0,0,0,.4) 1px 1px 4px);
  padding: 6px 11px;
  color: #666;
  font-size: 12px;
  white-space: nowrap;
  line-height: 14px;
  &:before {
    content: '';
    display: block;
    .square(8px);
    border: 4px solid transparent;
    position: absolute;
    left: 44px;
    top: -8px;
    border-bottom-color: white;
  }
  &.at_top {
    top: auto;
    bottom: 42px;
    &:before {
      top: auto;
      bottom: -8px;
      border-bottom-color: transparent;
      border-top-color: white;
    }
  }

  h6 {
    margin: 0;
    color: black;
  }
  .dates {
    margin-bottom: 6px;
  }
  .to_booking {
    display: none;
  }
}