@import "bootstrap";
@import "flexbox";

html {
  height: 100%;
}

body {
  min-height: 100%;
  .flex-display();
  .flex-direction(column);
  .justify-content(space-between);
}

.after-content-line {
  hr {
    margin: 40px 0;
    border-color: #ddd;
  }
  .map ~ & {
    .hide();
  }
}