h1 {
    font-size: 32px;
    color: #00a3da;
    font-weight: normal;
    text-transform: uppercase;
}
h2 {
    color: #00a3da;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}
h3 {
    color: #00a3da;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
h4 {
    color: #68af18;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

a { color: #e67536; }

textarea.form-control {
    border-radius: 0;
    border:1px solid #dddddd;
    box-shadow: none;
}

.link { color: #5daad4; }
.pseudo-link {
    color: #5daad4;
    border-bottom: 1px dashed #5daad4;
    cursor: pointer;
}
    .pseudo-link:hover {
        text-decoration: none;
        border-bottom-color: transparent;
    }
    .pseudo-link.inactive {
        border-bottom-color: transparent;
        cursor: default;
    }
.page {
//    min-height: 100%;
//    box-sizing: border-box;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
    border-top: 8px solid #00a3da;
}
@media (max-width: 767px){
    .season-tools {
        float: left;
    }
}
@media (min-width: 768px){
    .navbar-collapse {
        padding: 0;
    }
}

@media (min-width: 992px){
//    html, body { height: 100%; }
    .page {
//        min-height: 100%;
//        box-sizing: border-box;
//        -moz-box-sizing: border-box;
//        padding: 0 0 268px;
    }
    .pagefoot {
//        height: 228px;
//        margin: -228px 0 0;
//        overflow: hidden;
        border-bottom: 8px solid #00a3da;
    }
    .footer-info {
        height: 0;
        position: relative;
        top: -30px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .mainmenu .nav>li>a {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.logo-holder {
    background: #00a3da;
    height: 103px;
}
    .logo-holder img.logo {
        display: block;
        margin: auto;
    }
.lang-switcher,
.lang-switcher li {
    padding: 0;
    line-height: 0;
    height: 19px;
    margin: 0 0 0 1px;
}
.lang-switcher a {
    display: inline-block;
    color: white;
    font-size: 12px;
    background: #4e4f53;
    height: 19px;
    line-height: 19px;
    width: 31px;
    text-align: center;
}
    .lang-switcher .active a { background: #00a3da; }
@media (max-width: 767px) {
    .lang-switcher a {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        width: 50px;
    }
}
.season-tools {
    padding: 14px 0 0;
}
.season_switch {
    float: right;
    height: 64px;
    width: 94px;
    margin: 0 0 0 3px;
}
@media (max-width: 400px) {
    .season_switch {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
    .season_switch a {
        display: block;
        width: 94px;
        height: 32px;
        line-height: 32px;
        color: white;
        font-size: 14px;
        padding-left: 30px;
        text-align: left;
        position: relative;
    }
        .season_switch a:hover { text-decoration: none; }
        .season_switch a.winter { background: #00a3da url("../images/winter.png") 10px center no-repeat; }
        .season_switch a.summer { background: #84bf41 url("../images/summer.png") 9px center no-repeat; }
        .season_switch a.active:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            margin: -7px 0 0;
            border: 7px solid transparent;
            border-right-color: white;
        }
 .material-tools .season_switch {
     width: 196px;
 }
     .material-tools .season_switch a {
         float: left;
         margin: 40px 0 40px 4px;
     }
        .material-tools .season_switch a:after {
            display: none;
        }
        .material-tools .season_switch a:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: -14px;
            margin-left: -7px;
            border: 7px solid transparent;
        }
            .material-tools .season_switch a.winter.active:before {border-top-color: #00a3da;}
            .material-tools .season_switch a.summer.active:before {border-top-color: #84bf41;}
.weather {
    width: 268px;
}
.weather>li {
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: top;
    background: #4e4f53 center no-repeat;
    color: white;
    text-align: center;
}
    .weather>li+li {
        margin-left: 3px;
    }
    .weather>li .value {
        font-size: 34px;
        line-height: 34px;
        height: 42px;
        padding: 8px 0 0;
    }
    .weather>li .w-label {
        font-size: 13px;
    }
.mainmenu {
    padding: 8px 0 0;
    background: transparent;
    border: 0;
    margin-bottom: 0;
}
    .mainmenu.navbar-default .navbar-nav>li>a {
        font-size: 13px;
        color: #e67536;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 7px;
    }
    .mainmenu.navbar-default .navbar-nav>.active>a {
        background: transparent;
        color: #84bf41;
    }
        .mainmenu.navbar-default .navbar-nav a:hover,
        .mainmenu.navbar-default .navbar-nav>.open a {
            background: #84bf41;
            color: white;
        }
        .mainmenu.navbar-default .navbar-nav>.dropdown>a .caret {
            border-top-color: #e67536;
            vertical-align: 3px;
        }
            .mainmenu.navbar-default .navbar-nav>.dropdown.active>a .caret { border-top-color: #84bf41; }
            .mainmenu.navbar-default .navbar-nav>.dropdown>a:hover .caret,
            .mainmenu.navbar-default .navbar-nav>.dropdown.open>a .caret { border-top-color: white; }
.mainmenu .dropdown-menu {
    border: 0;
    background: #84bf41;
    border-radius: 0;
    box-shadow: none;
}
    .mainmenu .dropdown-menu>li>a {
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 24px;
        height: 30px;
    }
    .mainmenu .dropdown-menu>li>a:hover { background: #e67536 !important; }
        .mainmenu .dropdown-menu>li>a:before {
            content: '';
            display: inline-block;
            border: 4px solid transparent;
            border-left-color: white;
            vertical-align: 1px;
            margin-right: 4px;
        }
@media (min-width: 480px) {
    .mainmenu .navbar-header {
        margin-top: -60px;
    }
}
.pagefoot {
    border-bottom: 8px solid #00a3da;
}
.pagefoot .bottom_menu li {
    margin: 0 0 10px 0;
}
    .pagefoot .bottom_menu li a { color: #e67536; }
    .pagefoot .contact h5 { margin: 0 0 12px 0; font-size: 15px; }
    .pagefoot .contact ul {
        padding: 0;
        list-style: none;
        margin: 0;
        font-size: 13px;
    }
    .pagefoot .bottom_menu li.bottom_wrap_li {
        margin: 0;
    }
    .pagefoot .contact ul li { padding: 0 0 6px 40px; }
    .pagefoot .contact .phone {  background: url("../images/f_phone.png") 0 2px no-repeat; }
    .pagefoot .contact .email {  background: url("../images/f_mail.png") 0 0 no-repeat; }
    .pagefoot .contact .geo {  background: url("../images/f_geo.png") 0 0 no-repeat; }

    .pagefoot .soclinks a {
        height: 28px;
        width: 28px;
        display: inline-block;
        background: url("../images/f_soclinks.jpg") 0 0 no-repeat;
    }
    .pagefoot .soclinks .tw { background-position: 0 0; }
    .pagefoot .soclinks .fc { background-position: 0 -28px; }
    .pagefoot .soclinks .gl { background-position: 0 -56px; }
    .pagefoot .soclinks .vk { background-position: 0 -84px; }
    .pagefoot .soclinks span { margin-right: 13px; }
    .pagefoot .links { margin: -4px 0 0 0; }

.material-thumb {
    position: relative;
}
.material-list {
    color: black;
    font-size: 12px;
    line-height: 14px;
}
.material-detail {
    color: black;
    font-size: 15px;
    margin-bottom: 48px;
}
.material-main-image {
    margin: 0 32px 16px 0;
}
.material-link,
.material-link:hover {
    color: black;
    text-decoration: none;
}
.material-date {
    position: absolute;
    bottom: 12px;
    left: -7px;
    height: 23px;
    line-height: 23px;
    padding: 0 8px;
    background: #84bf41;
    color: white;
    font-size: 16px;
}
.material-heading {
    font-size: 16px;
    color: #e67536;
    transition: all .2s ease;
    margin: 18px 0 9px;
}
.material-link .material-preview { transition: box-shadow .2s ease; }
@media (max-width: 767px){
    .material-preview {
        width: 100%;
    }
    .material-main-image,
    .material-main-image img {
        width: 100%;
        margin-right: 0;
    }
}
.material-link:hover .material-heading { color: #84bf41; }
.material-link:hover .material-preview { box-shadow: rgba(0,0,0,.3) 0 0 8px; }
.material-short-description {
    height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-head {
}
    .content-head h1 {
        margin: 40px 24px 40px 0;
    }
.material-tools {
    margin-left: 12px;
}
.material-tool {
    height: 32px;
    line-height: 32px;
    color: white;
    padding: 0 14px;
    background: #e67536;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all .2s ease;
    margin: 40px 0;
}
    .material-tool.promotions,
    .material-tool.regional,
    .material-tool.past {
        padding-left: 36px;
        background-position: 12px 6px;
        background-repeat: no-repeat;
    }
        .material-tool.promotions { background-image: url("../images/icon-gift.png"); }
        .material-tool.regional { background-image: url("../images/icon-deer.png"); }
        .material-tool.past { background-image: url("../images/icon-check.png"); background-position: 12px 9px }
    .material-tool.active,
    .material-tool.active:hover {
        background-color: #00a3da;
    }
        .material-tool.active:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: -14px;
            margin-left: -7px;
            border: 7px solid transparent;
            border-top-color: #00a3da;
        }
    .material-tool.up:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: -14px;
        margin-left: -7px;
        border: 7px solid transparent;
        border-bottom-color: #e67536;
        transition: all .2s ease;
    }
    .material-tool:hover {
        background-color: #84bf41;
        color: white;
        text-decoration: none;
    }
        .material-tool:hover:before { border-bottom-color: #84bf41; }

.blue-wave {
    height: 30px;
    background: transparent url("../images/bluewave.png") center repeat-x;
    overflow: hidden;
}
    .content-head .blue-wave {
        height: 35px;
        margin: 40px 0;
    }
.no-padding { padding: 0; }
.link-arrow {
    padding-right: 14px;
    background-image: url("../images/link_arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
}
a.link-arrow:hover { color: #e67536;  }
.btn-primary {
    font-size: 16px;
    text-transform: uppercase;
    background: #e67536 url("../images/btn-primary.png") center top no-repeat;
    background-size: 100% 200%;
    border-radius: 0;
    border: 0;
}
.btn-lg {
    line-height: 22px;
    height: 42px;
}
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: #84bf41;
        background-position: center bottom;
    }
.page-banner {
    height: 216px;
    width: 100%;
    background: center no-repeat;
}
section.map {
    height: 434px;
    position: relative;
    margin: 40px 0;
}
    section.map .google-map {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .map .link-holder {
        height: 0;
        position: relative;
    }
        .map .link-holder .how-to-get-link {
            position: relative;
            z-index: 8;
            top: 369px;
        }
.multiplace_marker {
    color: #59ac24;
    font-size: 17px;
    font-weight: bold;
    width: 30px;
    text-align: center;
}


.pagecontent p { margin: 0 0 20px 0; }
.pagecontent ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
}
    .pagecontent ul:not(.list-unstyled) li {
        margin: 0 0 8px 0;
        padding-left: 19px;
        position: relative;
    }
        .pagecontent ul:not(.list-unstyled) li:before {
            border: 4px solid  transparent;
            display: inline-block;
            margin: 0 11px 0 -19px;
            vertical-align: 2px;
            content: "";
            height: 8px;
            width: 8px;
            border-left-color: #84bf41;
            position: absolute;
            top: 5px;
        }

.table thead th {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    background: #84bf40;
}
body .table>thead>tr>th {
    border-bottom: 0;
    vertical-align: top;
    white-space: nowrap;
}
body .table-striped>tbody>tr:nth-child(odd)>td,
body.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ffffff;
}
body .table>tbody>tr>th,
body .table>tfoot>tr>th,
body .table>thead>tr>td,
body .table>tbody>tr>td,
body .table>tfoot>tr>td { background-color: #e5f1fb; border-top: 0; }

body .table {
    border-bottom: 1px solid #e5f1fb;
}
p.footnote {
    font-size: 11px;
    margin-top: -10px;
}

.iosslider {
	position: relative;
	top: 0;
	left: 0;
	overflow: visible;
	width: 100%;
	height: 100%;
}
.iosslider .slider {
	width: 100%;
	height: 100%;
}
.iosslider .slider .slide {
	float: left;
	width: 100%;
	height: 100%;
}
.photo-gallery {
    height: 434px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 40px 0;
}
    .photo-gallery .iosslider .slider .slide {
        width: 650px;
        height: 434px;
    }
    .photo-gallery .arrow {
        position: absolute;
        z-index: 2;
        height: 100%;
        top: 0;
        background: rgba(255,255,255,.7) center no-repeat;
        border: 0;
        padding: 0;
        transition: background-color .2s ease;
    }
        .photo-gallery .arrow:hover {
            background-color: rgba(255,255,255,.8);
        }
        .photo-gallery .arrow:active,
        .photo-gallery .arrow:focus {
            box-shadow: none;
            outline: 0;
        }
        .photo-gallery .arrow.prev {
            background-image: url("../images/arrow_left.png");
            left: 0;
        }
        .photo-gallery .arrow.next {
            background-image: url("../images/arrow_right.png");
            right: 0;
        }
body .fancybox-skin {
    border-radius: 0;
}
body .fancybox-close {
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    background: url("../images/fancybox-close.png") center no-repeat;
}

.invisibly { display: none; padding-bottom: 24px; }


body .ui-widget-content { border: 0; }
body .ui-corner-all { border-radius: 0; }
body .ui-widget-header { background: #84bf40; color: #ffffff; font-weight: normal; }
body .ui-datepicker-calendar th { font-weight: normal; }
body .ui-datepicker-calendar td a.ui-state-default { border: 0; background: #f4f4f4; }
body .ui-datepicker-calendar td a.ui-state-active { background: #e5f1fb; }

body .ui-datepicker-calendar td.ui-datepicker-week-end a.ui-state-default { background: #fce8e6; }

body .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #ffffff transparent transparent;
    background: none;
}
    body .ui-datepicker-prev.ui-corner-all:hover,
    body .ui-datepicker-next.ui-corner-all:hover { background: transparent; border: 0; }
    body .ui-datepicker-prev.ui-corner-all:hover .ui-icon.ui-icon-circle-triangle-w {
        background: none;
         border-color: transparent #e67536 transparent transparent;

    }
    body .ui-datepicker-next.ui-corner-all:hover .ui-icon.ui-icon-circle-triangle-e {
        background: none;
        border-color: transparent transparent transparent #e67536;
    }
body .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #ffffff;
    background: none;
}


.variant_tile {
    display: block;
    text-decoration: none;
    transition: box-shadow .2s ease;
    margin-bottom: 29px;
}
    .variant_tile:hover {
        text-decoration: none;
        box-shadow: rgba(0,0,0,.7) 0 0 2px;
    }
.variant-tile img {
    width: 100%;
}
.variant-tile h4 {
    height: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    background: #e67536 url("../images/button.png") top center no-repeat;
    background-size: 100% 400%;
}
    .variant-tile.active h4 {
        background-color: #73af2e;
        background-position: 0 -36px;
        position: relative;
    }
        .variant-tile.active h4:after {
            content: '';
            position: absolute;
            bottom: -16px;
            left: 50%;
            margin: 0 0 0 -20px;
            border: solid transparent;
            border-width: 8px 20px;
            border-top-color: #73af2e;
        }
    /*.variant-tile:nth-child(even).active h4 {*/
        /*background-color: #0490c0;*/
        /*background-position: 0 -72px;*/
    /*}*/
        /*.variant-tile:nth-child(even).active h4:after {*/
            /*border-top-color: #0490c0;*/
        /*}*/
    .variant-tile.disabled h4 {
        background-color: #9e9e9e;
        background-position: 0 -108px;
    }
.incut {
    background: #f8f8f9;
}
.price_lists_data .price_block { display: none; }
    .price_lists_data .price_block.active { display: block; }
.gr_block { border-bottom: 1px solid #ddd; padding-top: 26px; padding-bottom: 26px;}
.table-collapsible h4 {
    color: #e67536;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}
.table-collapsible h4 span { border-bottom: 1px dashed #e67536; }
    .price-list h4.open {
        color: #68af18;
    }
    .table-collapsible h4.open span { border-color: transparent; }
    .table-collapsible .table-toggle {
        display: none;
        overflow: hidden;
    }
.load {
    position: relative;
}
    .load>* { opacity: .3; }
.load:after {
    content: url("../images/ajax-loader.gif");
    position: absolute;
    width: 128px;
    height: 15px;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -64px;
    z-index: 999;
}
@media (min-width: 992px){
    .incut-column {
        background: #e5f1fb;
        padding: 8px;
        margin: 32px 0;
        position: absolute;
    }
    .fixed-column-place {
        position: relative;
    }
    .fixed {
        position: fixed;
        top: 0;
    }
        .incut-column.fixed { margin-top: 10px; }
    .fixed-bottom {
        position: absolute;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .incut-column { width: 293px; }
}
@media (min-width: 1200px) {
    .incut-column { width: 360px; }
}
.worktime-announce {
    background: white;
    border-bottom: 8px solid  #e5f1fb;
    padding: 0 14px;
}
.worktime-announce td {
    white-space: nowrap;
}
.worktime-announce tr.row_0 td,
.worktime-announce tr.row_6 td {
    background: #fce8e6;
}

.incut-column h2 {
    margin: 0;
    padding: 18px 0 12px 0;
    font-size: 20px;
    color: #84bf41;
    text-align: center;
}
.incut-column h2>a { color: #84bf41; }
.incut-column .table {
    border-spacing: 4px;
    border-collapse: separate;
    margin: 6px 0 10px 0;
    color: #1d1d1d;
    border-bottom: 0;
}
.incut-column .for_all_season {
   color: #00a3da;
   text-decoration: underline;
   padding: 0 0 0 4px;
}

.incut-column .incut-column-block {
    background: #ffffff;
}
    .incut-column .incut-column-block.button-holder {
        margin-top: 8px;
    }
    .incut-column .incut-column-block.button-holder+.incut-column-block.button-holder {
        margin-top: 0;
        padding-top: 0;
        border-bottom: 8px solid  #e5f1fb;
    }
    .incut-column .incut-column-block.button-holder {
        padding: 8px 48px;
    }
    .sb_ta_widget {
        min-height: 340px;
    }
.incut-column-block a.for_events {
    margin: 0 auto 0;
    padding-bottom: 18px;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: black;
}
    .incut-column-block a.for_events:hover {
        text-decoration: none;
    }
.incut-column-block a.for_events img {
    width: 100%;
    transition: all .2s ease;
}
    .incut-column-block a.for_events:hover {  }
.incut-column-block a.for_events .text {
    padding: 0 14px;
}
.incut-column-block a.for_events h4 {
    color: #e67536;
     transition: all .2s ease;
}
.incut-column-block a.for_events article { height: 52px; }
    .incut-column-block a.for_events:hover h4 { color: #84bf41; }

.incut-column .notice {
    padding: 16px;
    color: white;
    margin-bottom: 8px;
}
    .incut-column .notice.notice_green { background: #84bf41; }
    .incut-column .notice.notice_red { background: #e67536; }
.incut-column .notice * { color: white; }
    .incut-column .notice>*:first-child { margin-top: 0; }
.incut-column-block .TA_links.aUTVcF {
	padding-bottom: 20px;
	margin-bottom: 0;
}


.intr_pseudo { margin: 0 0 24px 0; display: inline-block; }

.green { color: #84bf41; }
.rc_save { margin: 0px 0 30px 0; padding: 10px 0 0 0; }
.rc_save a{ color: #00a3da; display: inline-block; text-decoration: underline; }
.rc_save a:hover { text-decoration: none; }
.rc_save .printing {
    background: url("../images/printing.png") 0 0 no-repeat;
    padding-left: 40px;
    line-height: 28px;
    height: 28px;
}
.rc_save .send_link {
    background: url("../images/send_link.png") 0 3px no-repeat;
    padding-left: 44px;
    line-height: 28px;
    height: 28px;
}
.top_indent { padding-top: 40px; }
.hes_pl .table td {
    width: 50%;
}

.events_for {
    height: 304px;
    transition: all .4s ease;
}
.events_for:hover {
    box-shadow: rgba(0,0,0,.3) 0 0 12px;
}
.ios_arrow {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    height: 162px;
    width: 39px;
    top: 0;
    background: rgba(255,255,255,.7) center no-repeat;
    border: 0;
    padding: 0;
    transition: background-color .2s ease;
}
@media (min-width: 1200px){
    .ios_arrow  {
        height: 196px;
    }
}
.ios_arrow:focus { outline: none; }
.ios_prev {
    left: 0;
    background-image: url(../images/arrow_left_green.png);
}
.ios_next {
    right: 0;
    background-image: url(../images/arrow_right_green.png);
}


.banners {
    height: 0;
    padding: 0 0 13.5% 0;
    position: relative;
    overflow: visible;
    max-width: 1600px;
    max-height: 216px;
    margin: auto;
}
@media (min-width: 1600px){
    .banners {
        padding-bottom: 216px;
    }
}
.index_banner-slider {
    height: 0;
    padding: 0 0 27% 0;
    position: relative;
    overflow: visible;
    max-width: 1600px;
    max-height: 430px;
    margin: auto;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
@media (min-width: 1600px){
    .index_banner-slider {
        padding-bottom: 430px;
    }
}
.banners-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banners .iosslider,
.banners .iosslider .slider,
.banners .iosslider .slider .item {
    position: absolute;
    height: 100%;
    width: 100%;
}
    .banners .iosslider .slider .item {
        background: center no-repeat;
        background-size: cover;
    }

.popup-gallery {
    max-height: 100%;
    width: 100%;
    position: relative;
}
.popup-gallery .main-image {
}
    .popup-gallery .main-image .image {
        width: 800px;
        max-width: 100%;
        padding-top: 72%;
        background: center no-repeat;
        background-size: contain;
    }
.popup-gallery .gallery_menu {
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 84px;*/
    margin: 0;
}
.popup-gallery .previews {
    height: 86px;
    /*bottom: 0;*/
    /*left: 0;*/
    /*position: absolute;*/
    width: 800px;
    max-width: 100%;
    overflow: hidden;
}
.popup-gallery .iosslider .slider .slide {
    width: auto;
    padding-right: 32px;
    box-sizing: content-box;
}
.popup-gallery .arrow {
    position: absolute;
    bottom: 0;
    height: 86px;
    width: 47px;
    border: 0;
    background: transparent no-repeat;
    display: none;
}
    .popup-gallery .arrow:focus { outline: none; }
    .popup-gallery .arrow.prev { left: -47px; background: transparent url(../images/arrow_left.png) left center no-repeat; }
    .popup-gallery .arrow.next { right: -47px; background: transparent url(../images/arrow_right.png) right center no-repeat; }
.fb-popup-gallery .fancybox-inner {
    overflow: visible!important;
    height: auto!important;
}
.fb-popup-gallery .fancybox-inner .iosslider { overflow: hidden; }

/*Comments*/
.comments { margin: 24px 0 22px 0; }
.comments .scw {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}
.comments li {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 16px;
}
    .comments .scw.fb { background: url("../images/comment_fb.png") 0 0 no-repeat;}
    .comments .scw.twit { background: url("../images/comment_twit.png") 0 0 no-repeat; }
.comments .title-heading { line-height: 25px; }
.comments .title-heading time { font-weight: normal; }
.comments .media>.pull-left { margin-right: 18px; }
.comments .message { margin-left: 5px; }
.comments .message .reply {
    color: #00a3da;
    text-decoration: underline;
    padding-left: 8px;
}
.send_comment {
    margin-bottom: 22px;
}
.send_comment textarea {
    height: 180px;

}
.comments .media-body {
    padding-top: 20px;
}
.comment_time {
    font-weight: normal;
    font-size: 13px;
    line-height: 26px;
}
.comment_text { margin-bottom: 22px; }
.comment_author {
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    line-height: 22px;
    height: 22px;
    float: left;
    margin-right: 5px;
}
    .comment_author.vk,
    .comment_author.facebook,
    .comment_author.twitter,
    .comment_author.google {
        padding-left: 33px;
        background: url("../images/f_soclinks.jpg") left top no-repeat;
        background-size: auto 88px;
    }
        .comment_author.facebook { background-position: 0 -22px; }
        .comment_author.google { background-position: 0 -44px; }
        .comment_author.vk { background-position: 0 -66px; }
.no-avatar {
    height: 78px;
    width: 78px;
    border-radius: 50%;
    background: #E7E7E7;
    border: 1px solid #D1D1D1;
}
.comment_inner { margin-top: 22px; display: none; }
.comment_inner textarea {
    height: 60px;
}
.comment_inner .btn { text-transform: lowercase; }
.fancybox-inner .form-horizontal {
    overflow: hidden;
}
/*End of comments*/

/* Social login */
.socialaccount_provider {
	display: inline-block;
	height: 48px;
	width: 48px;
	text-indent: -9999px;
}
.socialaccount_provider.facebook {background: url("../images/social-set/facebook.jpg") 0 0 no-repeat;}
.socialaccount_provider.twitter {background: url("../images/social-set/twitter.jpg") 0 0 no-repeat;}
.socialaccount_provider.vk {background: url("../images/social-set/vk.jpg") 0 0 no-repeat;}
.socialaccount_provider.google {background: url("../images/social-set/g+.jpg") 0 0 no-repeat;}

body .widSSP.widSSPnarrow {
    width: auto !important;
}
body #CDSWIDSSP .widSSPData {
    border: none !important;
}