body .content-head h1 { margin-top: 16px; margin-bottom: 16px; font-size: 22px; }
body .pagecontent p { margin-bottom: 10px; }
body .table td, .table th { border: 1px solid #dddddd !important; }
body .pagefoot { padding-top: 14px; overflow: hidden; }
body .pagefoot .contact { float: left !important;  }
.page-banner { display: none;  }
header { background: none; color: #000; }
header img { -webkit-filter: invert(100%); filter: invert(100%); }

@page :left {  margin: 0.5cm; }
@page :right { margin: 0.8cm; }