{% if variant == 'collapsed' %}
<div class="table-collapsible table-price">
{% elif variant == 'collapsible' %}
<div class="table-collapsible">
{% endif %}
<div class="table-responsive price-list">
{% if data.title %}
<h4{% if variant == 'collapsible' %} class="open"{% endif %}><span>{{ data.title }}</span></h4>
{% endif %}
<div class="table-toggle"{% if variant == 'collapsible' %} style="display:block"{% endif %}>
<table class="table table-striped">
    <thead><tr>
        {% for th in data.data.0 %}
            <th>{{ th|default_if_none:'' }}</th>
        {% endfor %}
    </tr></thead>
    <tbody>
    {% for row in data.data|slice:"1:" %}
        <tr>
        {% for td in row %}
            <td>{{ td }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if data.footnote %}
<p class="footnote">{{ data.footnote }}</p>
{% endif %}
</div>
</div>
{% if variant == 'collapsed' or variant == 'collapsible' %}
</div>
{% endif %}
