.booking-widget {
    margin-top: 8px;
    margin-bottom: 32px;
}
.pagecontent ul:not(.list-unstyled) li .booking-widget {
    margin-left: -19px;
}
.bw-cal-panel-holder {
    padding-right: 0;
}
.bw-cal-panel {
    background: #f2f8fd;
    padding: 20px 26px;
    line-height: 26px;
    vertical-align: middle;
    font-size: 15px;
}
    .bw-cal-panel .date-select {
        padding-right: 0;
    }
.bw-cal-panel .glyphicon-calendar {
    font-size: 23px;
    color: #e67536;
    vertical-align: -4px;
    margin-left: 12px;
    width: 22px;
    height: 24px;
    overflow: hidden;
}
.booking-widget .reservation-rules {
    display: none;
}
.booking-widget .show-rules {
    font-size: 13px;
    line-height: 24px;
}
.booking-widget .date-select {
    cursor: pointer;
}
.booking-widget .invisible {
    width: 0;
    height: 0;
}
.ui-datepicker {
    border: 1px solid #ddd!important;
}

.booking-programs li {
    margin-bottom: 16px;
}
    .booking-programs li p {
        margin-bottom: 8px;
    }