.show-map {
    font-size: 12px;
    margin-top: 18px;
}
    .show-map .label {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        margin-left: 3px;
        font-size: 13px;
    }
    .show-map:hover .pseudo-link { border-bottom-color: transparent; }
.place-info {
    overflow: hidden;
}
.place-info h5 {
    color: #e67536;
    font-size: 16px;
    text-transform: uppercase;
}
.place-info p {
    margin: 0;
    line-height: 17px;
    color: black;
    font-size: 14px;
}
.map .link-holder .how-to-get-link {
    display: none!important;
}