.banner_list,
.banner_list li {
    padding: 0;
    list-style: none;
    vertical-align: top;
    margin-bottom: 4px;
}
.banner_list li input {
    vertical-align: top;
}
.banner_list ~ .help {
    display: none;
}