{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
      {% block object-tools-items %}
        <li>
          {% url cl.opts|admin_urlname:'add' as add_url %}
          <a href="{% add_preserved_filters add_url is_popup %}" class="addlink">
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        </li>
        <li>
          <a href="{% url "admin:booking_prices_export" %}">
            {% trans "Export prices" %}
          </a>
        </li>
        <li>
          <a href="{% url "admin:booking_prices_import" %}">
            {% trans "Import prices" %}
          </a>
        </li>
      {% endblock %}
    </ul>
  {% endif %}
{% endblock %}
