{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% block content_title %}<h1>Импорт цен пакетных предложений на бронирование из файла CSV</h1>{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
<script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/collapse.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app.app_label %}">{{ app.verbose_name_plural|capfirst|escape }}</a>
</div>
{% endblock %}
{% block content %}
    <div id="content-main">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <fieldset class="module aligned">
{% for field in form %}
            <div class="form-row field-{{ field.name }}">
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
            </div>
{% endfor %}
        </fieldset>
        <fieldset class="module aligned collapse">
            <h2>{% trans "SCV Example" %}</h2>
            <div class="form-row">
                <table border="1">
                    <thead><tr>
                        <th>Rate card</th>
                        <th>Date check in</th>
                        <th>Date check out</th>
                        <th>Price</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        <td>Пакет выходного дня</td>
                        <td>2014-10-13</td>
                        <td>2014-10-17</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Рабочая неделя</td>
                        <td>2014-10-18</td>
                        <td>2014-10-23</td>
                        <td>90</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans "Upload" %}" class="default" name="_save">
        </div>
        </form>
    </div>
{% endblock %}