{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'help:home' %}">{% trans "Help" %}</a>
&rsaquo; {{ page.title }}
</div>
{% endblock %}
{% block content %}
    <div class="help_article" style="max-width: 800px">
        <h1>{{ page.title }}</h1><br>
        <article>{{ page.text|safe }}</article>
        <br><hr><br>
        <p class="help_back2list"><a href="{% url "help:home" %}">« к списку страниц помощи</a></p>
    </div>
{% endblock %}