{% load i18n staticfiles chunks %}
<div class="booking-widget" id="booking-widget{{ program.id }}" data-booking-url="{% chunk_plain "booking_url" %}"
     {% if program.check_in_weekday != None %}
         data-checkin_weekday="{{ program.check_in_weekday }}"
         {% if program.nights %}
             data-nights="{{ program.nights }}"
         {% endif %}
     {% endif %}>
    <div class="row">
        <div class="col-sm-8 bw-cal-panel-holder">
            <div class="bw-cal-panel">
                <div class="row">
                    <div class="col-sm-6 date-select check-in">
                        {% chunk "habitation_check-in" %}
                        <b class="check-in-value">{{ date_check_in|date:"d.m" }}</b>
                        <span class="glyphicon glyphicon-calendar">
                            <input class="datepicker invisible" value="{{ date_check_in|date:"d.m.Y" }}">
                        </span>
                    </div>
                    <div class="col-sm-6 date-select check-out">
                        {% chunk "habitation_check-out" %}
                        <b class="check-out-value">{{ date_check_out|date:"d.m" }}</b>
                        <span class="glyphicon glyphicon-calendar">
                            <input class="datepicker invisible" value="{{ date_check_out|date:"d.m.Y" }}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-default btn-primary btn-block submit" target="_blank" href="">{% chunk "booking" %}</a>
        </div>
        <div class="col-sm-4">
            <a class="pseudo-link show-rules" href="#rules">{% chunk "habitation_reservation-rules" %}</a>
        </div>
    </div>
    <div class="row reservation-rules">
        <div class="col-xs-12">
            <h4>{% chunk "habitation_reservation-rules" %}</h4>
            {% chunk "reservation_rules" %}
            <div class="clearfix"><br>
                <a href="#hide_rules" class="pseudo-link">{% chunk "hide_section" %}</a>
            </div>
        </div>
    </div>
</div>
