{% load habitation %}
<ul class="booking-programs">
{% for booking_program in booking_programs %}
    <li>
        {{ booking_program.description|safe }}
        {% booking_widget booking_program %}
    </li>
{% endfor %}
</ul>