{% load i18n chunks %}
    <section class="habitation-variants incut clearfix">
        <div class="container price_block_content">
        <div class=" tab-content">
{% for variant in habitation %}
{% if variant.active %}
            <div class="tab-pane row" id="tab_{{ variant.id }}">
            <div class="col-md-8 gr_block">
                {{ variant.description|safe }}
            <a class="pseudo-link turn">{% chunk "close" %}</a>
            </div>
            </div>
{% endif %}
{% endfor %}
        </div>
        </div>
    </section>
<script>

    $(function(){
        $(".turn").click(function(){
            $(".variant-tile, .tab-pane").removeClass("active")
        })
    })
</script>