{% load i18n thumbnail chunks %}
<section class="section">
    <h3>{% chunk "habitation_accommodation" %}</h3>
    <ul class="row list-unstyled habitation-list">
{% for variant in habitation %}
        <li class="col-xs-4 variant-tile{% if not variant.active %} disabled{% endif %}">
        {% if variant.active %}<a class="variant_tile" href="#tab-pane-{% if variant.slug %}{{ variant.slug }}{% else %}tab_{{ variant.id }}{% endif %}" data-toggle="tab">{% endif %}
                {% thumbnail variant.image "230x139" crop="center" as im %}
                <img src="{{ im.url }}" class="img-responsive">
                {% endthumbnail %}
                <h4>{{ variant.name }}</h4>
        {% if variant.active %}</a>{% endif %}
        </li>
{% endfor %}
    </ul>
    </div></div></div></div>
    <section class="habitation-variants incut clearfix">
        <div class="container price_block_content">
        <div class=" tab-content">
{% for variant in habitation %}
{% if variant.active %}
            <div class="tab-pane row" id="tab-pane-{% if variant.slug %}{{ variant.slug }}{% else %}tab_{{ variant.id }}{% endif %}">
            <div class="col-md-8 gr_block">
                {{ variant.description|safe }}
            <a class="pseudo-link turn">{% chunk "close" %}</a>
            </div>
            </div>
{% endif %}
{% endfor %}
        </div>
        </div>
    </section></section>
    <div class="container"><div class="row"><div class="col-md-8"><div>
<script>
    $(function(){
        $(".turn").click(function(){
            $(".variant-tile, .tab-pane").removeClass("active")
        })
    })
</script>