{% load tables chunks %}
<div class="hes_pl clearfix">
{% chunk 'habitation_extra_services' %}
<br>
{% for price_list in price_lists %}
    <br>
{% table price_list %}
{% endfor %}
{% chunk 'habitation_footnote' %}
<br>
</div>