{% extends "base.html" %}
{% load i18n staticfiles chunks %}
{% block content %}
    <div class="container">
    <div class="text-center">
        <img src="{% static "images/404.jpg" %}">
        <p>{% chunk "404" %}</p>
    </div>
    <br><br>
    </div>
{% endblock %}