{% extends "base.html" %}
{% load staticfiles i18n chunks %}
{% block content %}
    <div class="container">
    <div class="text-center">
        <img src="{% static "images/500.jpg" %}">
        <p>{% chunk "500" %}</p>
    </div>
    <br><br>
    </div>
{% endblock %}