{% load thumbnail %}
<section class="photo-gallery" id="page-section-photo">
    <div class='iosslider'>
        <div class='slider'>
{% for photo in photos %}
{% thumbnail photo.image "650x434" crop="center" as im %}
            <div class="slide"><a class="show_gallery" href="/gallery/{% if app_code %}{{ app_code }}/{% endif %}{{ page_id }}/"><img src="{{ im.url }}" class="img-responsive"></a></div>
{% endthumbnail %}
{% endfor %}
        </div>
    </div>
    <button class="arrow prev"></button>
    <button class="arrow next"></button>
</section>
