{% load staticfiles sitetree seasons chunks i18n lang_selector %}<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% chunk_plain "company_name" %}{% endblock %}</title>
<meta name="description" content="{% block meta_description %}{% sitetree_page_description from 'maintree' %}{% endblock %}">
<meta name="keywords" content="{% block meta_keywords %}{% sitetree_page_keywords from 'maintree' %}{% endblock %}">
<meta http-equiv="content-Language" content="{{ LANGUAGE_CODE }}">
<link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
<link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" href="{% static "js/fancybox/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/fancybox/jquery.fancybox.pack.js" %}"></script>
{% block head_extra_css %}{% endblock %}
<body>
    <div class="page">
        <header class="pagehead container">
            <div class="row hidden-print">
                <div class="col-md-2 col-sm-3">
                    <div class="logo-holder">{% block logo %}<a href="{% lang_link "/" %}"><img src="{% static "images/logo.png" %}" alt="{% chunk_plain "company_name" %}" class="logo"></a>{% endblock %}</div>
                </div>
                <div class="col-md-10 col-sm-9 hidden-print">
                    <div class="text-right">
                        {% lang_selector %}
                    </div>
                    <div class="text-right season-tools hidden-print">
                        {% season_switch %}
                        <ul class="weather list-unstyled pull-right">
                            <li id="weather-icon" class="weather-icon">
                            <li><div id="weather-temp" class="value"></div><div class="w-label">{% chunk "weather-temp" %}</div>
                            <li><div id="weather-wind" class="value"></div><div class="w-label">{% chunk "weather-wind" %}</div>
                            <li><div id="weather-humidity" class="value"></div><div class="w-label">%</div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-md-12 hidden-print">
                {% sitetree_menu from "mainmenu" include "trunk" template "sitetree/mainmenu.html" %}
            </div></div>
        </header>
{% block page %}
    {% block page_banner %}{% sitetree_page_banners from "maintree" %}{% endblock %}
    {% block content_header %}
        <header class="container content-head">
            <h1 class="pull-left">{% block page_title %}{% sitetree_page_title from "maintree" %}{% endblock %}</h1>
            <div class="blue-wave"></div>
        </header>
    {% endblock %}
        <div class="pagecontent">
{% block content %}

{% endblock %}
        </div>
{% endblock %}
    </div>
    <footer class="pagefoot">
{% block after_content %}{% endblock %}
{% block comments %}{% endblock %}
        <div class="container hidden-print after-content-line"><hr></div>
        <div class="container">
            <div class="row">
                <div class="contact col-lg-3 col-lg-push-9 col-sm-4 col-sm-push-8">
                    <h5>{% chunk "address" %}</h5>
                    <ul>
                        <li class="phone">{% chunk "footer_phones" %}</li>
                        <li class="geo">{% chunk "footer_coords" %}</li>
                        <li class="email"><a href="mailto:{% chunk "email" %}">{% chunk "email" %}</a> </li>
                    </ul>
                </div>
                <div class="visible-print col-sm-8 text-right"><img src="{% static "images/logo.png" %}" class="logo"></div>
                <div class="bottommenu col-lg-9 col-lg-pull-3 col-sm-8 col-sm-pull-4 hidden-xs hidden-print">
                    {% sitetree_menu from "bottom_menu" include "trunk" template "sitetree/bottom_menu.html" %}
                </div>
            </div>
            <div class="visible-xs visible-sm clearfix"><br></div>
            <div class="row footer-info hidden-print">
                <div class="col-sm-8 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-push-4 col-md-4 soclinks">
                            <span class="hidden-sm hidden-md pull-left">{% chunk "social_networks" %}</span>
                            <div class="links pull-left">
                                <a href="{% chunk 's_twitter-link' %}" class="tw" target="_blank"></a>
                                <a href="{% chunk 's_facebook-link' %}" class="fc" target="_blank"></a>
                                <a href="{% chunk 's_googleplus-link' %}" class="gl"></a>
                                <a href="{% chunk 's_vk-link' %}" class="vk" target="_blank"></a>
                            </div>
                        </div>
                        <div class="visible-xs clearfix"><br><br></div>
                        <div class="col-xs-6 col-sm-pull-6 col-md-4 col-md-pull-4">
                            {% chunk "copyright" %}
                        </div>
                        <div class="visible-sm clearfix"></div>
                        <div class="col-xs-6 col-md-4 col-md-4">
                            {% chunk "developer" %}
                        </div>
                        <div class="visible-xs clearfix"><br></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/twitter-bootstrap-hover-dropdown.js" %}"></script>
<script src="{% static "js/jquery.iosslider.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
{% block extra_js %}{% endblock %}
{% chunk_plain "yandex_metrika" %}
{% chunk_plain "google_analytics" %}
</body>