{% load i18n widget_tweaks chunks %}
            <li class="media" data-id="{{ comment.id }}">
{% with comment.get_avatar as avatar %}
{% if avatar %}
                <img src="{{ avatar }}" class="pull-left media-object img-circle" width="80" height="80">
{% else %}
                <div class="pull-left media-object no-avatar"></div>
{% endif %}
{% endwith %}
                <div class="media-body">
                    <h5 class="media-heading">
                        <span class="comment_author {{ comment.get_provider }}">
{% if comment.get_profile_url %}
                            <a target="_blank" href="{{ comment.get_profile_url }}">{{ comment.get_author }}</a>
{% else %}
                            {{ comment.get_author }}
{% endif %}
                        </span>
                        <time class="comment_time">{{ comment.add_time|date:"j E" }} {% chunk "comment_at" %} {{ comment.add_time|time:"H:i" }}</time>
                    </h5>
                    <div class="message">
{% if comment.parent.get_author %}
                        <b>@{{ comment.parent.get_author }}:</b>
{% endif %}
                        {{ comment.message }}
                        <a href="#" class="reply">{% chunk "comment_reply" %}</a>
                    </div>
                    <form class="comment_inner" method="post" id="answer_to_{{ comment.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="parent" value="{{ comment.id }}">
{% if form.non_field_errors %}
                        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form.visible_fields %}
                            <div class="form-group comment_text">
                                {{ field|add_class:"form-control" }}
                            </div>
{% endfor %}
                        <button class="btn btn-primary" type="submit">{% chunk "comment_answer-to" %} @{{ comment.get_author }}</button>
                    </form>
                </div>
            </li>