{% load i18n chunks lang_selector %}
<div class="index_banner hidden-xs">
<div class="index_banner-slider">
<div class="banners-container">
<div class="iosslider"><div class="slider">
{% for slide in slides %}
    <div class="slide" style="background-image: url({{ slide.background.url|safe }})" id="item{{ forloop.counter }}">
        <div class="container banner-content-holder">
            <div class="banner-content">
            {% if slide.title %}
                <div class="slide-title clearfix">{{ slide.title|safe }}</div>
            {% endif %}
            {% if slide.description %}
                <div class="slide-description">{{ slide.description|safe }}</div>
            {% endif %}
            {% if slide.link %}
                <div class="slide-link"><a class="btn btn-primary btn-lg" href="{% lang_link slide.link  %}">{{ slide.button_title }}</a></div>
            {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div></div>
</div>
</div>
<div class="index_banner_helper text-center hidden-sm hidden-xs">
<div class="iosSliderButtons">
{% for slide in slides %}
    <div class="button{% if forloop.first %} active{% endif %}" id="item{{ forloop.counter }}">
        <div class="icon">
{% with slide.banner_icon as icon %}
            <div class="icon-variant normal" style="background-image: url({{ icon.image.url|safe }})"></div>
            <div class="icon-variant hover" style="background-image: url({{ icon.image_hover.url|safe }})"></div>
{% endwith %}
        </div>
        {{ slide.name }}
    </div>
{% endfor %}
</div>
</div>
</div>