{% load staticfiles account socialaccount i18n utils mptt_tags chunks %}
<div class="container{% if not user.is_authenticated %} not-auth{% endif %}" id="page-section-comments">
    <div class="row">
        <div class="col-md-8">
            <h3>{% chunk "comment_H" %}</h3>
            <ul class="media-list comments">
{% for comment in comments %}
{% include "main/_comment.html" %}
{% endfor %}
            </ul>
        <div class="clearfix">
        <div class="btn-group pull-right">
            {% if user.is_authenticated %}
             <span class="btn">
                 <span class="glyphicon glyphicon-user"></span>
                 {{ user.get_full_name|default:user.username }}
             </span>
             <a href="{% url "logout" %}" class="btn btn-link">{% chunk "comment_logout" %}</a>
            {% else %}
            {% if False %}
             <a href="{% url "account_login" %}" class="btn btn-link auth-link" id="auth-link">{% chunk "comment_login" %}</a>
            {% endif %}
            {% endif %}
        </div>
        </div>

        <form method="post" class="send_comment clearfix" id="answer_to_0">
        {% csrf_token %}
            {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group comment_text">
                	<label class="control-label hidden no-text-label">{% chunk "comments_no_text_error" %}</label>
                {{ field|add_class:"form-control" }}
                </div>
            {% endfor %}
            <button class="btn btn-primary btn-lg" type="submit">{% chunk "comment_post" %}</button>
        </form>
        </div>
    </div>
</div>
{% block extra_js %}
    <script src="{% static "js/jquery.form.min.js" %}"></script>
    <script src="{% static "main/js/comments.js" %}"></script>
{% endblock %}
