<ul class="list-inline lang-switcher">
    {% for language in languages %}
        <li{% if LANGUAGE_CODE|lower|slice:":2" == language.code %} class="active"{% endif %}>
        <a href="{{ language.link }}">{{ language.get_label }}</a>
    {% endfor %}
</ul>
