{% load i18n chunks %}
<div class="season_switch">
    <a class="winter{% if season_active != 'summer' %} active{% endif %}" href="#" data-season="winter">{% chunk "season_winter" %}</a>
    <a class="summer{% if season_active == 'summer' %} active{% endif %}" href="#" data-season="summer">{% chunk "season_summer" %}</a>
</div>