{% load staticfiles %}

{% for post in posts %}
<div class='media wrap-twitter-messages'>
    <img src="{% static "images/twitter-avatar.png" %}" class="pull-left media-object">
    <div class='media-body'>
        <time class="media-heading">{{ post.date|date:"j.m.Y" }}</time>
        <div>{{ post.text }}</div>
    </div>
</div>
{% endfor %}
