{% load i18n admin_static %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
<style>
    .calendarbox, .clockbox {
        /* Make sure the calendar widget popover displays in front of the sidebar */
        z-index: 1100;
        margin-left: -251px;
    }
    .datetimeshortcuts a {
        /* Make text for "Today" a bit smaller so it appears on one line. */
        font-size: 8pt;
    }
    #changelist-filter {
        width: 180px;
    }
    body .filtered .actions,
    .change-list .filtered .results,
    .change-list .filtered .paginator,
    .filtered #toolbar,
    .filtered div.xfull { margin-right: 180px !important; }
    .change-list .filtered {
        background: #ebebeb !important;
    }
</style>
<form method="GET" action="">
    {{ spec.form.as_p }}
    <p class="submit-row">
    <input type="submit" value="{% trans "Search" %}">
    <input type="reset" value="{% trans "Clear" %}">
    </p>
</form>
