{% load i18n staticfiles chunks %}
{% if full %}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% get_current_language as LANGUAGE_CODE %}
<script src="{% static "js/jqueryui/i18n/jquery.ui.datepicker-"|add:LANGUAGE_CODE|add:".js" %}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
                <span class="pseudo-link link" id="schedule_link">{% chunk "Bus_schedule" %}</span><br><br>
                <div class="invisibly"  id="schedule_table">
                    <div class="table-responsive"  id="schedule_table_content">
{% endif %}
{% if bus_runs %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">{% chunk "Date" %}</th>
                                    <th colspan="2">{% chunk "Bus_Time-of-arrival" %}</th>
                                    <th>{% chunk "Bus_stops" %}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
{% for bus_run in bus_runs %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-arrow-right"></span> Lekotti</td>
                                    <td>Lekotti <span class="glyphicon glyphicon-arrow-right"></span></td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-arrow-right"></span> Lekotti</td>
                                    <td>Lekotti <span class="glyphicon glyphicon-arrow-right"></span></td>
                                </tr>
{% for bus_stop in bus_run.table %}
                                <tr>
{% if forloop.parentloop.first and forloop.first %}
                                    <td>{{ today|date:"d.m" }}</td>
                                    <td>{{ today|date:"D" }}</td>
{% else %}
                                    <td></td>
                                    <td></td>
{% endif %}
{% if forloop.first %}
                                    <td>{{ bus_run.arrival|date:"H:i" }}</td>
                                    <td>{{ bus_run.departure|date:"H:i" }}</td>
{% else %}
                                    <td></td>
                                    <td></td>
{% endif %}
                                    <td>{{ bus_stop.name }}</td>
                                    <td>{{ bus_stop.to_lekotti|date:"H:i" }}</td>
                                    <td>{{ bus_stop.from_lekotti|date:"H:i" }}</td>
                                </tr>
{% endfor %}
{% endfor %}
                            </tbody>
                        </table>
{% else %}
    <div class="alert alert-danger">{% chunk "Bus_notfound " %}{{ today }}</div>
{% endif %}
{% if full %}
                    </div>
                    <div class="hide_text">
                        <span class="pseudo-link" id="turn">{% chunk "Bus_close-section" %}</span>&nbsp;&nbsp;
                        <span class="pseudo-link" id="select_date">{% chunk "Bus_choose-travel-date" %}</span>
                        <input id="datepicker" class="invisible" style="width: 0;height: 0;">
                    </div>
                </div>
<script>
    $(function(){
        $("#schedule_link").click(function(){
            $(this).removeClass("pseudo-link")
            $("#schedule_table").slideDown()
        })
        $("#turn").click(function(){
            $("#schedule_table").slideUp()
            $("#schedule_link").addClass("pseudo-link")
        })
        $('#datepicker').datepicker({
            dateFormat: 'mm/dd/yy',
            onSelect: function(){
                $('#schedule_table_content')
                        .addClass('load')
                        .load(
                                '/bus_schedule/'+$(this).val()+'/',
                                function(){$('#schedule_table_content').removeClass('load')}
                        )
            }
        })
        $("#select_date").click(function(e){
            e.preventDefault()
            $('#datepicker').datepicker('show')
        })
    })
</script>
{% endif %}
