.addresspicker-widget {
    float: left;
}
.addresspicker-search {
    width: 480px;
}
.addresspicker-map {
    height: 400px;
    width: 800px;
    margin: 8px 0;
}
.addresspicker-result {
    width: 320px;
}
.addresspicker-result-clear {
    text-decoration: none;
    border-bottom: 1px dotted;
}