{% extends "flatpages/default.html" %}
{% load flatpages i18n chunks staticfiles thumbnail habitation google_map events sitetree evaluate %}
{% block content_header %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <header class="content-head clearfix">
                    <h1 class="pull-left">{{ flatpage.extendflatpage.title }}</h1>
                    <div class="blue-wave"></div>
                </header>
            </div>
            <div class="col-md-4">
                <div class="incut-column fixed-column hidden-xs hidden-sm">
                    {% events_for 'habitation' %}
                    {% aside_links %}
                    <div class="incut-column-block sb_ta_widget">
	                    <h2 class="text-center"><a href="http://www.tripadvisor.ru/Hotel_Review-g4604619-d5539831-Reviews-Lekotti_Hiihtokeskus-Savonranta_Eastern_Finland.html" target="_blank">{% chunk "habitation_reviews-header" %}</a></h2>
<div id="TA_selfserveprop277" class="TA_selfserveprop">
<ul id="6WLPhdAKxZ" class="TA_links 1ugdGMIL">
<li id="G5muUDtE" class="2XE70lh">
<a target="_blank" href="http://www.tripadvisor.co.uk/"><img src="http://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=277&amp;locationId=5539831&amp;lang=en_UK&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% with content=flatpage.extendflatpage.content|decode %}
                {% evaluate content %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
{% block head_extra_css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static "habitation/css/booking.css" %}">
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% get_current_language as LANGUAGE_CODE %}
    <script src="{% static "js/jqueryui/i18n/jquery.ui.datepicker-"|add:LANGUAGE_CODE|add:".js" %}"></script>
    <script src="{% static "habitation/js/booking_widget.js" %}"></script>
    <script src="{% static "js/fixed_column.js" %}"></script>
{% endblock %}