{% extends "flatpages/default.html" %}
{% load flatpages i18n chunks staticfiles thumbnail banner events activity google_map evaluate social %}

{% block extra_js %}
    <script src="{% static "main/js/index.js" %}"></script>
    <script src="{% static "main/js/fb.js" %}"></script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block head_extra_css %}
    <link rel="stylesheet" href="{% static "main/css/index.css" %}">
{% endblock %}

{% block page_banner %}
{% banner %}
{% endblock %}
{% block content_header %}{% endblock %}
{% block content %}
    <div class="container" id="page-section-about">
        <a href="{% chunk_plain "popup_scheme" 86400 image %}" id="index_map"><img src="{% chunk_plain "index_image" 86400 image %}" class="pull-right index-image"></a>
        <header class="content-head">
            <h1 class="pull-left">{{ flatpage.extendflatpage.title }}</h1>
            <div class="blue-wave"></div>
        </header>
                {% with content=flatpage.extendflatpage.content|decode %}
                {% evaluate content %}
                {% endwith %}

    <script>$(function(){$('#index_map').fancybox(
                { padding: [60,64,60,64] }
        )})</script>
    </div>

{% endblock %}
{% block after_content %}
    {% if flatpage.extendflatpage.flatpageimage_set.all %}
        {% include "_photogallery.html" with photos=flatpage.extendflatpage.flatpageimage_set.all page_id=flatpage.extendflatpage.id %}
    {% endif %}
    {% activity_announce %}
    {% events_announce %}


    <section class="socworks" id="page-section-news">
        <div class="container">
            <header class="section-header row">
                <div class="col-md-4"><div class="blue-wave"></div></div>
                <h2 class="col-md-4 text-center">{% chunk "index_We-in-the-net" %}</h2>
                <div class="col-md-4"><div class="blue-wave"></div></div>
            </header>
            <div class="soc-list row">
                <div class="col-md-4">
                    <h4 class="text-center"><a href="{% chunk "s_facebook-link" %}" target="_blank">facebook</a></h4>
                    <div id="fb-place"></div>
                    <div class="fb-follow" data-href="{% chunk "s_facebook-link" %}" data-colorscheme="light" data-layout="standard" data-show-faces="false" data-width="300"></div>
                </div>
                <div class="col-md-4">
{% if show_twitter %}
                    <h4 class="text-center"><a href="http://twitter.com/lekottifi" target="_blank">twitter</a></h4>
                    <div id="twitter-place">{% twitter_feed %}</div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lekotti.ru/" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% else %}
                    <h4 class="text-center"><a href="http://www.booking.com/hotel/fi/lekotti.html" target="_blank">booking</a></h4>
{% include "_booking_widget.html" %}
{% endif %}
                </div>
                <div class="col-md-4">
                    <h4 class="text-center"><a href="http://www.tripadvisor.ru/Hotel_Review-g4604619-d5539831-Reviews-Lekotti_Hiihtokeskus-Savonranta_Eastern_Finland.html" target="_blank">Tripadvisor</a></h4>
<div id="TA_selfserveprop277" class="TA_selfserveprop">
<ul id="6WLPhdAKxZ" class="TA_links 1ugdGMIL">
<li id="G5muUDtE" class="2XE70lh">
<a target="_blank" href="http://www.tripadvisor.co.uk/"><img src="http://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=277&amp;locationId=5539831&amp;lang=en_UK&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true"></script>

                </div>
            </div>
        </div>
    </section>


    {% if flatpage.extendflatpage.show_map %}
        {% google_map %}
    {% endif %}
{% endblock %}