{% extends "flatpages/default.html" %}
{% load flatpages i18n chunks staticfiles thumbnail skislope events google_map sitetree evaluate %}
{% block content_header %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <header class="content-head clearfix">
                    <h1 class="pull-left">{{ flatpage.extendflatpage.title }}</h1>
                    <div class="blue-wave"></div>
                </header>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="incut-column fixed-column">
                    {% chunk "ski_slope_notice_green" 0 text "chunks/notice_green.html" %}
                    {% chunk "ski_slope_notice_red" 0 text "chunks/notice_red.html" %}
                    <div class="hidden-xs hidden-sm">
                        {% worktime %}
                        {% events_for 'ski_slope' %}
                    </div>
                    <div class="visible-sm visible-xs">
                        <p><a href="{% url "ski_slope_worktime" %}" class="for_all_season">{% chunk "ski_slope_Schedule-for-all-season" %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% with content=flatpage.extendflatpage.content|decode %}
                {% evaluate content %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/fixed_column.js" %}"></script>
{% endblock %}