.lang_add_description {
  padding: 15px;
  margin-bottom: 32px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
}

.lang_add_description h4 {
  margin-top: 0;
  color: inherit;
}

.lang_add_description a {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}
.lang_add_description a:hover {
    text-decoration: none;
}