{% extends "admin/base_site.html" %}
{% load url from future %}
{% block title %}Rosetta{% endblock %}
{% block extrahead %}
    {{ block.super }}
{#    <link rel="stylesheet" href="{{ADMIN_MEDIA_PREFIX}}css/base.css" type="text/css"/>#}
    <link rel="stylesheet" href="{{ADMIN_MEDIA_PREFIX}}css/forms.css" type="text/css"/>
    <link rel="stylesheet" href="{{ADMIN_MEDIA_PREFIX}}css/changelists.css" type="text/css"/>
    <style type="text/css" media="screen">
        {% include 'rosetta/css/rosetta.css' %}
    </style>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
    //<!--
        google.load("jquery", "1.3");
        {% if rosetta_settings.ENABLE_TRANSLATION_SUGGESTIONS %}google.load("language", "1");{% endif %}
        {% include 'rosetta/js/rosetta.js' %}
    //-->
    </script>
{% endblock %}
{% block content %}
    <div id="container">
        <div id="header">
{#            {% block header %}#}
{#            <div id="branding">#}
{#                <h1 id="site-name"><a href="{% url 'rosetta-pick-file' %}">Rosetta</a> </h1>#}
{#            </div>#}
{#            {% endblock %}#}
        </div>
        <div id="content" class="flex">
            {% block main %}{% endblock %}
        </div>
        <div id="footer" class="breadcumbs">
            <a href="https://github.com/mbi/django-rosetta">Rosetta</a> <span class="version">{{version}}</span>
        </div>
    </div>
{% endblock %}
