{% load i18n chunks %}
{% if False %}
{% if user.is_authenticated %}
{% chunk "login-hello" %}{{ user.get_full_name|default:user.username }}
{% else %}

{% endif %}
{% endif %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script>
$(function(){
	var r_url = decodeURI($.cookie('comment_page')) || '/'
	window.location.href = r_url
})
</script>